<div>

	<form
		name="form"
		id="showAllInstitutionsForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="institution">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.institutionsTitle }}</h3>
		</div>
		<div
			id="warning"
			class="alert-warning fade in text-center"
			ng-show="fieldErrors.length">
			<div ng-repeat="error in fieldErrors">
				<span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{ error.message }}</strong>
			</div>
		</div>
		<div class="modal-body">
			<fieldset>

				<table
					ng-show="allInstitutions != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.institutionsTableLabels.institutionType }}</td>
							<td>{{ resources.institutionsTableLabels.institutionName }}</td>
							<td>{{ resources.institutionsTableLabels.universityName }}</td>
							<td>{{ resources.institutionsTableLabels.institutionCity }}</td>
							<td>{{ resources.institutionsTableLabels.institutionCountry }}</td>
							<td colspan="2"></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="institution in allInstitutions">
							<td>{{ institution.institutionType }}</td>
							<td>{{ institution.name }}</td>
							<td>{{ institution.university }}</td>
							<td>{{ institution.city }}</td>
							<td>{{ institution.country }}</td>
							<td class="delete"><button
									class="btn btn-link btn-xs"
									ng-click="deleteInstitution(institution.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.institutionButtons.delete }}
								</button></td>
							<td class="edit"><button
									class="btn btn-link btn-xs"
									ng-click="editInstitution(institution.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.institutionButtons.edit }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td colspan="7">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-click="createNewInstitution()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.institutionButtons.add }}
			</button>
		</div>
	</form>

	<script
		type="text/ng-template"
		id="editInstitutionPopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			novalidate
			role="form"
			ng-model="institution">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.editInstitutionPopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputInstitutionType"
						class="col-sm-4 control-label">{{ resources.institutionPopupLabels.institutionType }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputInstitutionType"
							name="inputInstitutionType"
							ng-model="institution.institutionType"
							ng-options="institutionType.typeName as institutionType.typeName for institutionType in allInstitutionTypes"
							ng-change="resetInsitutionData()"
							required><option value="">{{ resources.institutionPopupLabels.institutionType }}</option></select>
						<div
							ng-show="form.inputInstitutionType.$dirty && form.inputInstitutionType.$invalid"
							class="institutionTypeFieldError">
							<span
								ng-show="form.inputInstitutionType.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputInstitutionName"
						class="col-sm-4 control-label">{{ resources.institutionPopupLabels.institutionName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputInstitutionName"
							name="inputInstitutionName"
							ng-model="institution.name"
							placeholder="{{ resources.institutionPopupLabels.institutionName }}"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputInstitutionName.$dirty && form.inputInstitutionName.$invalid"
							class="institutionNameFieldError">
							<span
								ng-show="form.inputInstitutionName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputInstitutionName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionNameMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="institution.institutionType == 'Fakultet'">
					<label
						for="inputUniversityName"
						class="col-sm-4 control-label">{{ resources.institutionPopupLabels.universityName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputUniversityName"
							name="inputUniversityName"
							ng-model="institution.university"
							placeholder="{{ resources.institutionPopupLabels.universityName }}"
							ng-maxlength="50"
							ng-required="institution.institutionType == 'Fakultet'" />
						<div
							ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
							class="universityNameFieldError">
							<span
								ng-show="form.inputUniversityName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputUniversityName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidUniversityNameMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputInstitutionCity"
						class="col-sm-4 control-label">{{ resources.institutionPopupLabels.institutionCity }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputInstitutionCity"
							name="inputInstitutionCity"
							ng-model="institution.city"
							placeholder="{{ resources.institutionPopupLabels.institutionCity }}"
							ng-maxlength="50"
							ng-pattern="patterns.onlyLetters"
							required />
						<div
							ng-show="form.inputInstitutionCity.$dirty && form.inputInstitutionCity.$invalid"
							class="institutionCityFieldError">
							<span
								ng-show="form.inputInstitutionCity.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputInstitutionCity.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCityMaxLength }}</span> <span
								ng-show="form.inputInstitutionCity.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputInstitutionCountry"
						class="col-sm-4 control-label">{{ resources.workExperiencePopupLabels.institutionCountry }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputInstitutionCountry"
							name="inputInstitutionCountry"
							ng-model="institution.country"
							placeholder="{{ resources.institutionPopupLabels.institutionCountry }}"
							ng-maxlength="50"
							ng-pattern="patterns.onlyLetters"
							required />
						<div
							ng-show="form.inputInstitutionCountry.$dirty && form.inputInstitutionCountry.$invalid"
							class="institutionCountryFieldError">
							<span
								ng-show="form.inputInstitutionCountry.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputInstitutionCountry.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCountryMaxLength }}</span> <span
								ng-show="form.inputInstitutionCountry.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer action">
				<button
					id="submit_button"
					type="submit"
					class="btn btn-success btn-sm"
					ng-disabled="form.$invalid || isUnchanged(institution)"
					ng-click="saveInstitution()">
					<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.institutionButtons.edit }}
				</button>
				<button
					id="cancel_button"
					class="btn btn-sm"
					ng-click="cancel()">{{ resources.buttons.institutionButtons.close }}</button>
			</div>
		</form>
	</script>

	<script
		type="text/ng-template"
		id="createNewInstitutionPopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			novalidate
			role="form"
			ng-model="institution">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.addNewInstitutionPopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputInstitutionType"
						class="col-sm-4 control-label">{{ resources.institutionPopupLabels.institutionType }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputInstitutionType"
							name="inputInstitutionType"
							ng-model="institution.institutionType"
							ng-options="institutionType.typeName as institutionType.typeName for institutionType in allInstitutionTypes"
							required><option value="">{{ resources.institutionPopupLabels.institutionType }}</option></select>
						<div
							ng-show="form.inputInstitutionType.$dirty && form.inputInstitutionType.$invalid"
							class="institutionTypeFieldError">
							<span
								ng-show="form.inputInstitutionType.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputInstitutionName"
						class="col-sm-4 control-label">{{ resources.institutionPopupLabels.institutionName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputInstitutionName"
							name="inputInstitutionName"
							ng-model="institution.name"
							placeholder="{{ resources.institutionPopupLabels.institutionName }}"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputInstitutionName.$dirty && form.inputInstitutionName.$invalid"
							class="institutionNameFieldError">
							<span
								ng-show="form.inputInstitutionName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputInstitutionName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionNameMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="institution.institutionType == 'Fakultet'">
					<label
						for="inputUniversityName"
						class="col-sm-4 control-label">{{ resources.institutionPopupLabels.universityName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputUniversityName"
							name="inputUniversityName"
							ng-model="institution.university"
							placeholder="{{ resources.institutionPopupLabels.universityName }}"
							ng-maxlength="50"
							ng-required="institution.institutionType == 'Fakultet'" />
						<div
							ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
							class="universityNameFieldError">
							<span
								ng-show="form.inputUniversityName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputUniversityName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidUniversityNameMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputInstitutionCity"
						class="col-sm-4 control-label">{{ resources.institutionPopupLabels.institutionCity }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputInstitutionCity"
							name="inputInstitutionCity"
							ng-model="institution.city"
							placeholder="{{ resources.institutionPopupLabels.institutionCity }}"
							ng-maxlength="50"
							ng-pattern="patterns.onlyLetters"
							required />
						<div
							ng-show="form.inputInstitutionCity.$dirty && form.inputInstitutionCity.$invalid"
							class="institutionCityFieldError">
							<span
								ng-show="form.inputInstitutionCity.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputInstitutionCity.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCityMaxLength }}</span> <span
								ng-show="form.inputInstitutionCity.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputInstitutionCountry"
						class="col-sm-4 control-label">{{ resources.workExperiencePopupLabels.institutionCountry }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputInstitutionCountry"
							name="inputInstitutionCountry"
							ng-model="institution.country"
							placeholder="{{ resources.institutionPopupLabels.institutionCountry }}"
							ng-maxlength="50"
							ng-pattern="patterns.onlyLetters"
							required />
						<div
							ng-show="form.inputInstitutionCountry.$dirty && form.inputInstitutionCountry.$invalid"
							class="institutionCountryFieldError">
							<span
								ng-show="form.inputInstitutionCountry.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputInstitutionCountry.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCountryMaxLength }}</span> <span
								ng-show="form.inputInstitutionCountry.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer action">
		 		<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="!validateForm()" ng-click="saveNewInstitution()"><span class="glyphicon glyphicon-save"></span> {{ resources.buttons.institutionButtons.save }}</button>
		 		<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.buttons.institutionButtons.close }}</button>
  			</div>
		</form>
	</script>

</div>