<div>

	<form
		name="form"
		id="showAllSubjectsForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="subject">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.subjectsTitle }}</h3>
		</div>
		<div
			id="warning"
			class="alert-warning fade in text-center"
			ng-show="fieldErrors.length">
			<div ng-repeat="error in fieldErrors">
				<span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{ error.message }}</strong>
			</div>
		</div>
		<div class="modal-body">
			<fieldset>
				<table
					ng-show="allSubjects != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.subjectsTableLabels.subjectName }}</td>
							<td>{{ resources.subjectsTableLabels.studyProgram }}</td>
							<td>{{ resources.subjectsTableLabels.facultyName }}</td>
							<td>{{ resources.subjectsTableLabels.facultyCity }}</td>
							<td>{{ resources.subjectsTableLabels.studyType }}</td>
							<td>{{ resources.subjectsTableLabels.lessonsNumber }}</td>
							<td>{{ resources.subjectsTableLabels.introducedBy }}</td>
							<td colspan="2"></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="subjectData in completeSubjectDataArray">
							<td>{{ subjectData.subject.subjectName }}</td>
							<td>{{ subjectData.subject.studyProgram }}</td>
							<td>{{ subjectData.faculty.name }}</td>
							<td>{{ subjectData.faculty.city }}</td>
							<td>{{ subjectData.subject.studiesThesisType.type }}</td>
							<td>{{ subjectData.subject.numberOfTeachingLessons }} + {{ subjectData.subject.numberOfTheoreticalLessons }} + {{ subjectData.subject.numberOfPracticalLessons }}</td>
							<td>{{ subjectData.professor.name }} {{ subjectData.professor.surname }}</td>
							<td class="delete"><button
									class="btn btn-link btn-xs"
									ng-click="deleteSubject(subjectData.subject.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.subjectButtons.delete }}
								</button></td>
							<td class="edit"><button
									class="btn btn-link btn-xs"
									ng-click="editSubject(subjectData.subject.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.subjectButtons.edit }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td colspan="9">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-click="createNewSubject()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.subjectButtons.add }}
			</button>
		</div>
	</form>

	<script
		type="text/ng-template"
		id="editSubjectPopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			novalidate
			role="form"
			ng-model="subject">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.editSubjectPopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputFacultyName"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.facultyName }}
					</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input
								type="text"
								class="ng-binding form-control"
								id="inputFacultyName"
								name="inputFacultyName"
								ng-model="faculty.name"
								ng-disabled="true" /> 
								<span class="input-group-addon"> <span
									class="glyphicon glyphicon-expand"
									ng-click="expandFacultyData()"
									ng-show="!allFacultyDataShown"></span> <span
									class="glyphicon glyphicon-collapse-down"
									ng-click="collapseFacultyData()"
									ng-show="allFacultyDataShown"></span>
								</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="allFacultyDataShown">
					<label
						for="inputUniversityName"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.universityName }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputUniversityName"
							name="inputUniversityName"
							ng-model="faculty.university"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group" ng-show="allFacultyDataShown">
					<label
						for="inputInstitutionCity"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.facultyCity }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputInstitutionCity"
							name="inputInstitutionCity"
							ng-model="faculty.city"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group" ng-show="allFacultyDataShown">
					<label
						for="inputInstitutionCountry"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.facultyCountry }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputInstitutionCountry"
							name="inputInstitutionCountry"
							ng-model="faculty.country"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputSubjectName"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.subjectName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputSubjectName"
							name="inputSubjectName"
							ng-model="subject.subjectName"
							placeholder="{{ resources.subjectPopupLabels.subjectName }}"
							required />
						<div
							ng-show="form.inputSubjectName.$dirty && form.inputSubjectName.$invalid"
							class="subjectNameFieldError">
							<span
								ng-show="form.inputSubjectName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputProgram"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.studyProgram }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputProgram"
							name="inputProgram"
							ng-model="subject.studyProgram"
							ng-options="studyProgram.name as studyProgram.name for studyProgram in allStudyPrograms"
							required><option value="">{{ resources.subjectPopupLabels.studyProgram }}</option></select>
						<div
							ng-show="form.inputProgram.$dirty && form.inputProgram.$invalid"
							class="programFieldError">
							<span
								ng-show="form.inputProgram.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputStudyType"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.studyType }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputStudyType"
							name="inputStudyType"
							ng-model="subject.studiesThesisType"
							ng-options="studiesThesisType.type for studiesThesisType in allStudiesThesisTypes track by studiesThesisType.id"
							required><option value="">{{ resources.subjectPopupLabels.studyType }}</option></select> 
						<div
							ng-show="form.inputStudyType.$dirty && form.inputStudyType.$invalid"
							class="studyTypeFieldError">
							<span
								ng-show="form.inputStudyType.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.numberOfLessons }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputNumberOfTeachingLessons"
							name="inputNumberOfTeachingLessons"
							ng-model="subject.numberOfTeachingLessons"
							placeholder="{{ resources.subjectPopupLabels.teachingLessons }}"
							min="0"
							ng-maxlength="2"
							required />
						<div
							ng-show="form.inputNumberOfTeachingLessons.$dirty && form.inputNumberOfTeachingLessons.$invalid"
							class="numberOfTeachingLessonsFieldError">
							<span
								ng-show="form.inputNumberOfTeachingLessons.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfTeachingLessons.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidLessonsNumberLength }}</span> <span
								ng-show="form.inputAverageGrade.$error.min"
								class="ng-binding">{{ errorMessages.error.minLessonsNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputNumberOfTheoreticalLessons"
							name="inputNumberOfTheoreticalLessons"
							ng-model="subject.numberOfTheoreticalLessons"
							placeholder="{{ resources.subjectPopupLabels.theoreticalLessons }}"
							min="0"
							ng-maxlength="2"
							required />
						<div
							ng-show="form.inputNumberOfTheoreticalLessons.$dirty && form.inputNumberOfTheoreticalLessons.$invalid"
							class="numberOfTheoreticalLessonsFieldError">
							<span
								ng-show="form.inputNumberOfTheoreticalLessons.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfTheoreticalLessons.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidLessonsNumberLength }}</span> <span
								ng-show="form.inputNumberOfTheoreticalLessons.$error.min"
								class="ng-binding">{{ errorMessages.error.minLessonsNumberNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputNumberOfPracticalLessons"
							name="inputNumberOfPracticalLessons"
							ng-model="subject.numberOfPracticalLessons"
							placeholder="{{ resources.subjectPopupLabels.practicalLessons }}"
							min="0"
							ng-maxlength="2"
							required />
						<div
							ng-show="form.inputNumberOfPracticalLessons.$dirty && form.inputNumberOfPracticalLessons.$invalid"
							class="numberOfPracticalLessonsFieldError">
							<span
								ng-show="form.inputNumberOfPracticalLessons.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfPracticalLessons.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidLessonsNumberLength }}</span> <span
								ng-show="form.inputNumberOfPracticalLessons.$error.min"
								class="ng-binding">{{ errorMessages.error.minLessonsNumberNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputProfessor"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.introducedBy }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputProfessor"
							name="inputProfessor"
							ng-model="$parent.selectedProfessor"
							placeholder="{{ resources.subjectPopupLabels.introducedBy }}"
							typeahead="professor as professor.name + ' ' + professor.surname for professor in getProfessors($viewValue) | limitTo:8"
							typeahead-on-select="onSelectProfessor()"
							typeahead-loading="loadingProfessor"
							autocomplete="off"
							required /> <span
							ng-show="loadingProfessor"
							class="glyphicon glyphicon-refresh"></span>
						<div
							ng-show="form.inputProfessor.$dirty && form.inputProfessor.$invalid"
							class="professorFieldError">
							<span
								ng-show="form.inputProfessor.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputProfessor.$error.professorInvalid"
								class="ng-binding">{{errorMessages.error.emptyTable}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer action">
				<button
					id="submit_button"
					type="submit"
					class="btn btn-success btn-sm"
					ng-disabled="form.$invalid || isUnchanged(subject)"
					ng-click="saveSubject()">
					<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.subjectButtons.edit }}
				</button>
				<button
					id="cancel_button"
					class="btn btn-sm"
					ng-click="cancel()">{{ resources.buttons.subjectButtons.close }}</button>
			</div>
		</form>
	</script>

	<script
		type="text/ng-template"
		id="createNewSubjectPopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			novalidate
			role="form"
			ng-model="subject">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.addNewSubjectTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputFacultyName"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.facultyName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputFacultyName"
							name="inputFacultyName"
							ng-model="$parent.selectedFaculty"
							typeahead="faculty as faculty.name for faculty in getFaculties($viewValue) | limitTo:8"
							typeahead-on-select="onSelectFaculty()"
							placeholder="{{ resources.subjectPopupLabels.facultyName }}"
							autocomplete="off"
							required /> 
						<div
							ng-show="form.inputFacultyName.$dirty && form.inputFacultyName.$invalid"
							class="facultyNameFieldError">
							<span
								ng-show="form.inputFacultyName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputUniversityName"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.universityName }} <span class="required" ng-show="!isExistingFaculty">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputUniversityName"
							name="inputUniversityName"
							ng-model="subject.universityName"
							placeholder="{{ resources.subjectPopupLabels.universityName }}"
							ng-maxlength="50"
							ng-disabled="isExistingFaculty"
							ng-required="!isExistingFaculty" />
						<div
							ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
							class="universityNameFieldError">
							<span
								ng-show="form.inputUniversityName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputUniversityName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidUniversityNameMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputInstitutionCity"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.facultyCity }} <span class="required" ng-show="!isExistingFaculty">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputInstitutionCity"
							name="inputInstitutionCity"
							ng-model="subject.institutionCity"
							placeholder="{{ resources.subjectPopupLabels.facultyCity }}"
							ng-maxlength="50"
							ng-disabled="isExistingFaculty"
							ng-requiered="!isExistingFaculty" />
						<div
							ng-show="form.inputInstitutionCity.$dirty && form.inputInstitutionCity.$invalid"
							class="institutionCityFieldError">
							<span
								ng-show="form.inputInstitutionCity.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputInstitutionCity.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCityMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputInstitutionCountry"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.facultyCountry }} <span class="required" ng-show="!isExistingFaculty">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputInstitutionCountry"
							name="inputInstitutionCountry"
							ng-model="subject.institutionCountry"
							placeholder="{{ resources.subjectPopupLabels.facultyCountry }}"
							ng-maxlength="50"
							ng-disabled="isExistingFaculty"
							ng-requiered="!isExistingFaculty" />
						<div
							ng-show="form.inputInstitutionCountry.$dirty && form.inputInstitutionCountry.$invalid"
							class="institutionCountryFieldError">
							<span
								ng-show="form.inputInstitutionCountry.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputInstitutionCountry.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCountryMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputSubjectName"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.subjectName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputSubjectName"
							name="inputSubjectName"
							ng-model="subject.subjectName"
							placeholder="{{ resources.subjectPopupLabels.subjectName }}"
							required />
						<div
							ng-show="form.inputSubjectName.$dirty && form.inputSubjectName.$invalid"
							class="subjectNameFieldError">
							<span
								ng-show="form.inputSubjectName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputProgram"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.studyProgram }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputProgram"
							name="inputProgram"
							ng-model="subject.studyProgram"
							ng-options="studyProgram.name as studyProgram.name for studyProgram in allStudyPrograms"
							required><option value="">{{ resources.subjectPopupLabels.studyProgram }}</option></select>
						<div
							ng-show="form.inputProgram.$dirty && form.inputProgram.$invalid"
							class="programFieldError">
							<span
								ng-show="form.inputProgram.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputStudyType"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.studyType }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputStudyType"
							name="inputStudyType"
							ng-model="subject.studiesThesisType"
							ng-options="studiesThesisType.type for studiesThesisType in allStudiesThesisTypes track by studiesThesisType.id"
							required><option value="">{{ resources.subjectPopupLabels.studyType }}</option></select> 
						<div
							ng-show="form.inputStudyType.$dirty && form.inputStudyType.$invalid"
							class="studyTypeFieldError">
							<span
								ng-show="form.inputStudyType.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.numberOfLessons }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputNumberOfTeachingLessons"
							name="inputNumberOfTeachingLessons"
							ng-model="subject.numberOfTeachingLessons"
							placeholder="{{ resources.subjectPopupLabels.teachingLessons }}"
							min="0"
							ng-maxlength="2"
							required />
						<div
							ng-show="form.inputNumberOfTeachingLessons.$dirty && form.inputNumberOfTeachingLessons.$invalid"
							class="numberOfTeachingLessonsFieldError">
							<span
								ng-show="form.inputNumberOfTeachingLessons.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfTeachingLessons.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidLessonsNumberLength }}</span> <span
								ng-show="form.inputAverageGrade.$error.min"
								class="ng-binding">{{ errorMessages.error.minLessonsNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputNumberOfTheoreticalLessons"
							name="inputNumberOfTheoreticalLessons"
							ng-model="subject.numberOfTheoreticalLessons"
							placeholder="{{ resources.subjectPopupLabels.theoreticalLessons }}"
							min="0"
							ng-maxlength="2"
							required />
						<div
							ng-show="form.inputNumberOfTheoreticalLessons.$dirty && form.inputNumberOfTheoreticalLessons.$invalid"
							class="numberOfTheoreticalLessonsFieldError">
							<span
								ng-show="form.inputNumberOfTheoreticalLessons.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfTheoreticalLessons.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidLessonsNumberLength }}</span> <span
								ng-show="form.inputNumberOfTheoreticalLessons.$error.min"
								class="ng-binding">{{ errorMessages.error.minLessonsNumberNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputNumberOfPracticalLessons"
							name="inputNumberOfPracticalLessons"
							ng-model="subject.numberOfPracticalLessons"
							placeholder="{{ resources.subjectPopupLabels.practicalLessons }}"
							min="0"
							ng-maxlength="2"
							required />
						<div
							ng-show="form.inputNumberOfPracticalLessons.$dirty && form.inputNumberOfPracticalLessons.$invalid"
							class="numberOfPracticalLessonsFieldError">
							<span
								ng-show="form.inputNumberOfPracticalLessons.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfPracticalLessons.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidLessonsNumberLength }}</span> <span
								ng-show="form.inputNumberOfPracticalLessons.$error.min"
								class="ng-binding">{{ errorMessages.error.minLessonsNumberNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputProfessor"
						class="col-sm-4 control-label">{{ resources.subjectPopupLabels.introducedBy }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputProfessor"
							name="inputProfessor"
							ng-model="$parent.selectedProfessor"
							placeholder="{{ resources.subjectPopupLabels.introducedBy }}"
							typeahead="professor as professor.name + ' ' + professor.surname for professor in getProfessors($viewValue) | limitTo:8"
							typeahead-on-select="onSelectProfessor()"
							typeahead-loading="loadingProfessor"
							autocomplete="off"
							required /> <span
							ng-show="loadingProfessor"
							class="glyphicon glyphicon-refresh"></span>
						<div
							ng-show="form.inputProfessor.$dirty && form.inputProfessor.$invalid"
							class="professorFieldError">
							<span
								ng-show="form.inputProfessor.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputProfessor.$error.professorInvalid"
								class="ng-binding">{{errorMessages.error.emptyTable}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer action">
		 		<button 
					id="submit_button" 
					type="submit" 
					class="btn btn-success btn-sm" 
					ng-disabled="!validateForm()" 
					ng-click="saveNewSubject()">
					<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.subjectButtons.save }}
				</button>
		 		<button 
					id="cancel_button" 
					class="btn btn-sm" 
					ng-click="cancel()">{{ resources.buttons.subjectButtons.close }}
				</button>
  			</div>
		</form>
	</script>

</div>