<div>

	<form
		name="form"
		id="showAllProfessorsForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="professor">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.allProfessorsTitle }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				
				<div
					class="row form-group"
					ng-show="allProfessors != []">
					<label
						for="inputSortCriteria"
						class="col-sm-9 control-label"></label>
					<div class="col-sm-3">
						<select
							class="ng-binding form-control"
							id="inputSortCriteria"
							name="inputSortCriteria"
							ng-model="sortType"
							ng-options="sortType.description for sortType in allSortTypes"><option value="">{{ resources.text.sortBy }}</option></select>
					</div>
				</div>
				<table
					ng-show="allProfessors != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.professorsTableLabels.firstNameAndLastName }}</td>
							<td colspan="8"></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="professor in allProfessors | orderBy:sortType.sortBy">
							<td><a href="" ng-click="showProfessorDetails(professor.id)">{{ professor.name }} {{ professor.surname }}</a></td>
							<td>
								<div class="btn-group" dropdown>
                  					<a class="dropdown-toggle" href="#">{{ resources.buttons.allProfessorsButtons.studies }}<span class="caret"></span></a>
                 					<ul class="dropdown-menu" role="menu">
                    					<li><a href="" ng-click="openProfessorBachelorStudies(professor.id)">{{ resources.buttons.allProfessorsButtons.studyTypes.bachelorStudies }}</a>
                    					</li>
					                    <li><a href="" ng-click="openProfessorMasterStudies(professor.id)">{{ resources.buttons.allProfessorsButtons.studyTypes.masterStudies }}</a>
					                    </li>
					                    <li><a href="" ng-click="openProfessorSpecialisticStudies(professor.id)">{{ resources.buttons.allProfessorsButtons.studyTypes.specialisticStudies }}</a>
					                    </li>
					                    <li><a href="" ng-click="openProfessorDoctorStudies(professor.id)">{{ resources.buttons.allProfessorsButtons.studyTypes.doctorStudies }}</a>
					                    </li>
					                    <li><a href="" ng-click="openProfessorSpecializationAbroad(professor.id)">{{ resources.buttons.allProfessorsButtons.studyTypes.specializationAbroad }}</a>
					                    </li>
					                </ul>
					        	</div>
							</td>
							<td>
								<div class="btn-group" dropdown>
									<a class="dropdown-toggle" href="#">{{ resources.buttons.allProfessorsButtons.mentoring }}<span class="caret"></span></a>
                 					<ul class="dropdown-menu" role="menu">
                    					<li><a href="" ng-click="openBachelorMentoring(professor.id)">{{ resources.buttons.allProfessorsButtons.mentoringTypes.bachelorMentoring }}</a>
                    					</li>
					                    <li><a href="" ng-click="openMasterMentoring(professor.id)">{{ resources.buttons.allProfessorsButtons.mentoringTypes.masterMentoring }}</a>
					                    </li>
					                    <li><a href="" ng-click="openSpecialisticMentoring(professor.id)">{{ resources.buttons.allProfessorsButtons.mentoringTypes.specialisticMentoring }}</a>
					                    </li>
					                    <li><a href="" ng-click="openDoctorMentoring(professor.id)">{{ resources.buttons.allProfessorsButtons.mentoringTypes.doctorMentoring }}</a>
					                    </li>
					                </ul>
					        	</div>
							</td>
							<td>
								<div class="btn-group" dropdown>
									<a class="dropdown-toggle" href="#">{{ resources.buttons.allProfessorsButtons.publications }}<span class="caret"></span></a>
                 					<ul class="dropdown-menu" role="menu">
                    					<li><a href="" ng-click="openProfessorPublications(professor.id)">{{ resources.buttons.allProfessorsButtons.publicationTypes.professorPublications }}</a>
                    					</li>
					                    <li><a href="" ng-click="openInternationalPublications(professor.id)">{{ resources.buttons.allProfessorsButtons.publicationTypes.internationalPublications }}</a>
					                    </li>
					                </ul>
					        	</div>
							</td>
							<td>
								<div class="btn-group" dropdown>
									<a class="dropdown-toggle" href="#">{{ resources.buttons.allProfessorsButtons.teachingExperiences }}<span class="caret"></span></a>
                 					<ul class="dropdown-menu" role="menu">
                    					<li><a href="" ng-click="openProfessorTeachingExperiences(professor.id)">{{ resources.buttons.allProfessorsButtons.teachingExperienceTypes.professorDomesticTeachingExperience }}</a>
                    					</li>
					                    <li><a href="" ng-click="openProfessorSeminarsOrTeachings(professor.id)">{{ resources.buttons.allProfessorsButtons.teachingExperienceTypes.professorSeminarsOrTeachingsAbroad }}</a>
					                    </li>
					                </ul>
					        	</div>
							</td>
							<td>
								<div class="btn-group" dropdown>
									<a class="dropdown-toggle" href="#">{{ resources.buttons.allProfessorsButtons.academicCommunity }}<span class="caret"></span></a>
                 					<ul class="dropdown-menu" role="menu">
                    					<li><a href="" ng-click="openProfessorProjectExperience(professor.id)">{{ resources.buttons.allProfessorsButtons.academicCommunityWork.projectExperiences }}</a>
                    					</li>
					                    <li><a href="" ng-click="openProfessorFacultyOrUniversityAuthoritiesWork(professor.id)">{{ resources.buttons.allProfessorsButtons.academicCommunityWork.facultyOrUniversityAuthoritiesWork }}</a>
					                    </li>
					                    <li><a href="" ng-click="openProfessorProfessionalOrganizationConduction(professor.id)">{{ resources.buttons.allProfessorsButtons.academicCommunityWork.professionalOrganizationsConduction }}</a>
					                    </li>
					                    <li><a href="" ng-click="openProfessorCommitteesAndLegislativeBodiesWork(professor.id)">{{ resources.buttons.allProfessorsButtons.academicCommunityWork.committeesAndLegislativeBodiesWork }}</a>
					                    </li>
					                    <li><a href="" ng-click="openProfessorMeetingsConferencesAndEventsConduction(professor.id)">{{ resources.buttons.allProfessorsButtons.academicCommunityWork.meetingsConferencesAndEventsConducting }}</a>
					                    </li>
					                    <li><a href="" ng-click="openProfessorScientificJournalReviews(professor.id)">{{ resources.buttons.allProfessorsButtons.academicCommunityWork.scientificJournalReview }}</a>
					                    </li>
					                </ul>
					        	</div>
							</td>
							<td>
								<div class="btn-group" dropdown>
									<a class="dropdown-toggle" href="#">{{ resources.buttons.allProfessorsButtons.awardsAndMemberships }}<span class="caret"></span></a>
                 					<ul class="dropdown-menu" role="menu">
                    					<li><a href="" ng-click="openProfessorAwards(professor.id)">{{ resources.buttons.allProfessorsButtons.awardTypes.awards }}</a>
                    					</li>
					                    <li><a href="" ng-click="openProfessorOrganizationsMemberships(professor.id)">{{ resources.buttons.allProfessorsButtons.awardTypes.mebershipsInOrganisations }}</a>
					                    </li>
					                </ul>
					        	</div>
							</td>	
							<td class="workExperience"><button
									class="btn btn-link btn-xs"
									ng-click="openProfessorWorkExperiences(professor.id)">
									<span class="glyphicon glyphicon-briefcase"></span> {{ resources.buttons.allProfessorsButtons.workExperiences }}
								</button></td>
							<td class="languages"><button
									class="btn btn-link btn-xs"
									ng-click="openProfessorLanguageExperiences(professor.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.allProfessorsButtons.languages }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td colspan="9">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-click="createNewInstitution()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.institutionButtons.add }}
			</button>
		</div>
	</form>

	<script
		type="text/ng-template"
		id="professorDetailsPopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			novalidate
			role="form"
			ng-model="professor">
			<div class="modal-header text-center">
				<h3 class="modal-title">{{ resources.text.professorDetailsPopupTitle }}</h3>
			</div>
			<div class="modal-body container-fluid">
				<div class="row" ng-show="professor.name">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.name }}:</label>
					<div class="col-sm-8">{{ professor.name }}</div>
				</div>
				<div class="row" ng-show="professor.fathersName">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.fathersName }}:</label>
					<div class="col-sm-8">{{ professor.fathersName }}</div>
				</div>
				<div class="row" ng-show="professor.surname">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.surname }}:</label>
					<div class="col-sm-8">{{ professor.surname }}</div>
				</div>
				<div class="row" ng-show="professor.email">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.email }}:</label>
					<div class="col-sm-8">{{ professor.email }}</div>
				</div>
				<div class="row" ng-show="professor.dateOfBirth">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.dateOfBirth }}:</label>
					<div class="col-sm-8">{{ professor.dateOfBirth | date:'dd-MM-yyyy' }}</div>
				</div>
				<div class="row" ng-show="professor.placeOfBirth">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.placeOfBirth }}:</label>
					<div class="col-sm-8">{{ professor.placeOfBirth }}</div>
				</div>
				<div class="row" ng-show="professor.countryOfBirth">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.countryOfBirth }}:</label>
					<div class="col-sm-8">{{ professor.countryOfBirth }}</div>
				</div>
				<div class="row" ng-show="professor.scientificArea">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.scientificArea }}:</label>
					<div class="col-sm-8">{{ professor.scientificArea }}</div>
				</div>
				<div class="row" ng-show="professor.specialScientificArea">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.specialScientificArea }}:</label>
					<div class="col-sm-8">{{ professor.specialScientificArea }}</div>
				</div>
				<div class="row" ng-show="professor.title">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.title }}:</label>
					<div class="col-sm-8">{{ professor.title }}</div>
				</div>
				<div class="row" ng-show="professor.institution">
					<label class="col-sm-4">{{ resources.professorDetailsPopupLabels.institution }}:</label>
					<div class="col-sm-8">{{ professor.institution }}</div>
				</div>
			</div>
			<div class="modal-footer action">
				<button
					id="cancel_button"
					class="btn btn-success btn-sm"
					ng-click="cancel()">{{ resources.buttons.allProfessorsButtons.close }}</button>
			</div>
		</form>
	</script>
	
</div>