<div>

	<form
		name="form"
		id="showAllInternationalPublicationsForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="internationalPublication">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.internationalPublicationsTitle }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>

				<table
					ng-show="internationalPublications != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.internationalPublicationsTableLabels.publicationType }}</td>
							<td>{{ resources.internationalPublicationsTableLabels.isbn }}</td>
							<td>{{ resources.internationalPublicationsTableLabels.title }}</td>
							<td>{{ resources.internationalPublicationsTableLabels.journalTitle }}</td>
							<td>{{ resources.internationalPublicationsTableLabels.authors }}</td>
							<td>{{ resources.internationalPublicationsTableLabels.publisher }}</td>
							<td>{{ resources.internationalPublicationsTableLabels.pagesWithQuotes }}</td>
							<td>{{ resources.internationalPublicationsTableLabels.year }}</td>
							<td>{{ resources.internationalPublicationsTableLabels.category }}</td>
							<td
								ng-show="isUser"
								colspan="2"></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="internationalPublication in internationalPublications">
							<td>{{ internationalPublication.publicationType }}</td>
							<td>{{ internationalPublication.isbn }}</td>
							<td>{{ internationalPublication.title }}</td>
							<td>{{ internationalPublication.journalTitle }}</td>
							<td>{{ internationalPublication.authors }}</td>
							<td>{{ internationalPublication.publisher }}</td>
							<td>{{ internationalPublication.pagesWithQuotes }}</td>
							<td>{{ internationalPublication.year }}</td>
							<td>{{ internationalPublication.publicationCategoryDto.code }}</td>
							<td
								class="delete"
								ng-show="isUser"><button
									class="btn btn-link btn-xs"
									ng-click="deleteInternationalPublication(internationalPublication.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.publicationsButtons.delete }}
								</button></td>
							<td
								class="edit"
								ng-show="isUser"><button
									class="btn btn-link btn-xs"
									ng-click="editInternationalPublication(internationalPublication.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.publicationsButtons.edit }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td
								ng-show="isUser"
								colspan="11">{{ errorMessages.error.emptyTable }}</td>
							<td
								ng-show="isAdmin"
								colspan="9">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-show="isUser"
				ng-click="createNewInternationalPublication()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.publicationsButtons.add }}
			</button>
			<button
				id="cancel_button"
				class="btn btn-sm"
				ng-click="goBack()">
				<span class="glyphicon glyphicon-arrow-left"></span> {{ resources.form.back }}
			</button>
		</div>
	</form>

	<script
		type="text/ng-template"
		id="editInternationalPublicationPopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			role="form"
			ng-model="internationalPublication">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.editPublicationPopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputPublicationIsbn"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationIsbn }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationIsbn"
							name="inputPublicationIsbn"
							ng-model="internationalPublication.isbn"
							ng-maxlength="30"
							required />
						<div
							ng-show="form.inputPublicationIsbn.$dirty && form.inputPublicationIsbn.$invalid"
							class="publicationIsbnFieldError">
							<span
								ng-show="form.inputPublicationIsbn.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputPublicationIsbn.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationIsbnMaxLength }}</span> 
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationTitle"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationTitle }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationTitle"
							name="inputPublicationTitle"
							ng-model="internationalPublication.title"
							ng-maxlength="100"
							required />
						<div
							ng-show="form.inputPublicationTitle.$dirty && form.inputPublicationTitle.$invalid"
							class="publicationTitleFieldError">
							<span
								ng-show="form.inputPublicationTitle.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputPublicationTitle.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationJournalTitle"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationJournalTitle }} 
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationJournalTitle"
							name="inputPublicationJournalTitle"
							ng-model="internationalPublication.journalTitle"
							ng-maxlength="100" />
						<div
							ng-show="form.inputPublicationJournalTitle.$dirty && form.inputPublicationJournalTitle.$invalid"
							class="publicationJournalTitleFieldError">
							<span
								ng-show="form.inputPublicationJournalTitle.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span>
						</div>
					</div>
				</div>
				<div ng-repeat="author in publicationAuthorsArray">
					<div class="form-group">
						<label
							for="inputPublicationAuthor"
							class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationAuthor }} {{ $index + 1 }} 
						</label>
						<div class="col-sm-6">
							<div class="input-group">
								<input
									type="text"
									class="ng-binding form-control"
									id="inputPublicationAuthor"
									name="inputPublicationAuthor"
									ng-disabled="true"
									ng-model="author"
									ng-maxlength="100" /> 
								<span
									id="remove_button"
									type="button"
									class="btn btn-sucess btn-sm input-group-addon"
									ng-click="removePublicationAuthor($index)">
									<span class="glyphicon glyphicon-remove" />
								</span>
							</div>
							<div
								ng-show="form.inputPublicationAuthor.$dirty && form.inputPublicationAuthor.$invalid"
								class="publicationAuthorFieldError">
							 	<span
									ng-show="form.inputPublicationAuthor.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidPublicationAuthorMaxLength }}</span> 
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputNewPublicationAuthor"
							class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationAuthor }} <span ng-show="publicationAuthorsArray.length == 0" class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input
								type="text"
								class="ng-binding form-control"
								id="inputNewPublicationAuthor"
								name="inputNewPublicationAuthor"
								ng-model="$parent.newPublicationAuthor"
								ng-pattern="patterns.onlyLetters"
								ng-maxlength="100"
								ng-required="publicationAuthorsArray.length == 0" /> 
							<span
								id="add_button"
								type="button"
								class="btn btn-sm input-group-addon"
								ng-disabled="!newPublicationAuthor"
								ng-click="addPublicationAuthor()">
								<span class="glyphicon glyphicon-plus" />
							</span>
						</div>
						<div
							ng-show="form.inputNewProjectLeader.$dirty && form.inputNewProjectLeader.$invalid"
							class="projectLeaderFieldError">
							<span
								ng-show="form.inputNewPublicationAuthor.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNewPublicationAuthor.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationAuthorMaxLength }}</span> <span
								ng-show="form.inputNewPublicationAuthor.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationPublisher"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationPublisher }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationPublisher"
							name="inputPublicationPublisher"
							ng-model="internationalPublication.publisher"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputPublicationTitle.$dirty && form.inputPublicationTitle.$invalid"
							class="publicationTitleFieldError">
							<span
								ng-show="form.inputPublicationPublisher.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputPublicationPublisher.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span>
						</div>
					</div>
				</div>
				<div ng-repeat="range in publicationPageRanges">
					<div class="row form-group">
						<label
							class="col-sm-4 control-label"
							ng-show="$index == 0">{{ resources.publicationPopupLabels.publicationPageRange }} 
						</label>
						<label
							class="col-sm-4"
							ng-show="$index != 0">
						</label>
						<div class="col-sm-3">
							<input
								type="number"
								class="form-control"
								id="inputPublicationFromPage"
								name="inputPublicationFromPage"
								ng-model="range.startPage"
								min="1"
								placeholder="{{ resources.publicationPopupLabels.fromPage }}"
								ng-maxlength="5"
								ng-disabled="true" />
							<div
								ng-show="form.inputPublicationStartPage.$dirty && form.inputPublicationStartPage.$invalid"
								class="publicationStartPageFieldError">
								<span
									ng-show="form.inputPublicationStartPage.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputPublicationStartPage.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidPublicationPageNumberMaxLength }}</span> <span
									ng-show="form.inputPublicationStartPage.$error.number"
									class="ng-binding">{{ errorMessages.error.onlyNumbers }}</span> <span
									ng-show="form.inputPublicationStartPage.$error.min"
									class="ng-binding">{{ errorMessages.error.minNumber }}</span>
							</div>
						</div>
						<div class="col-sm-3">
							<input
								type="number"
								class="form-control"
								id="inputPublicationToPage"
								name="inputPublicationToPage"
								ng-model="range.endPage"
								min="1"
								placeholder="{{ resources.publicationPopupLabels.toPage }}"
								ng-maxlength="5"
								ng-disabled="true" />
							<div
								ng-show="form.inputPublicationToPage.$dirty && form.inputPublicationToPage.$invalid"
								class="publicationStartPageFieldError">
								<span
									ng-show="form.inputPublicationToPage.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputPublicationToPage.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidPublicationPageNumberMaxLength }}</span> <span
									ng-show="form.inputPublicationToPage.$error.number"
									class="ng-binding">{{ errorMessages.error.onlyNumbers }}</span> <span
									ng-show="form.inputPublicationToPage.$error.min"
									class="ng-binding">{{ errorMessages.error.minNumber }}</span>
							</div>
						</div>
						<div class="col-sm-2">
							<button
								id="remove_button"
								type="button"
								class="btn btn-link btn-sm"
								ng-click="removePageRange($index)">
								<span class="glyphicon glyphicon-remove" />
							</button>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<label
						class="col-sm-4" ng-show="publicationPageRanges.length != 0">
					</label>
					<label
						class="col-sm-4 control-label"
						ng-show="publicationPageRanges.length == 0">{{ resources.publicationPopupLabels.publicationPageRange }} <span class="required">*</span>
					</label>
					<div class="col-sm-3">
						<input
							type="number"
							class="form-control"
							id="inputNewPublicationFromPage"
							name="inputNewPublicationFromPage"
							placeholder="{{ resources.publicationPopupLabels.fromPage }}"
							min="1"
							ng-model="$parent.startPage"
							ng-maxlength="5"
							ng-required="publicationPageRanges.length == 0" />
						<div
							ng-show="form.inputNewPublicationFromPage.$dirty && form.inputNewPublicationFromPage.$invalid"
							class="publicationNewStartPageFieldError">
							<span
								ng-show="form.inputNewPublicationFromPage.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNewPublicationFromPage.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationPageNumberMaxLength }}</span> <span
								ng-show="form.inputNewPublicationFromPage.$error.number"
								class="ng-binding">{{ errorMessages.error.onlyNumbers }}</span> <span
								ng-show="form.inputNewPublicationFromPage.$error.min"
								class="ng-binding">{{ errorMessages.error.minNumber }}</span>
						</div>
					</div>
					<div class="col-sm-3">
						<input
							type="number"
							class="form-control"
							id="inputNewPublicationToPage"
							name="inputNewPublicationToPage"
							placeholder="{{ resources.publicationPopupLabels.toPage }}"
							min="1"
							ng-model="$parent.endPage"
							ng-disabled="!$parent.startPage"
							ng-maxlength="5"
							ng-required="publicationPageRanges.length == 0" />
						<div
							ng-show="form.inputNewPublicationToPage.$dirty && form.inputNewPublicationToPage.$invalid"
							class="publicationNewEndPageFieldError">
							<span
								ng-show="form.inputNewPublicationToPage.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNewPublicationToPage.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationPageNumberMaxLength }}</span> <span
								ng-show="form.inputNewPublicationToPage.$error.number"
								class="ng-binding">{{ errorMessages.error.onlyNumbers }}</span> <span
								ng-show="form.inputNewPublicationToPage.$error.min"
								class="ng-binding">{{ errorMessages.error.minNumber }}</span>
						</div>
					</div>
					<div class="col-sm-2">
						<button
							id="add_button"
							type="button"
							class="btn btn-link btn-sm"
							ng-disabled="validatePageRangeInput()"
							ng-click="addNewPageRange()">
							<span class="glyphicon glyphicon-plus" />
						</button>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationYear"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationYear }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationYear"
							name="inputPublicationYear"
							ng-model="internationalPublication.year"
							ng-maxlength="4"
							ng-minlength="4"
							required />
						<div
							ng-show="form.inputPublicationYear.$dirty && form.inputPublicationYear.$invalid"
							class="publicationYearFieldError">
							<span
								ng-show="form.inputPublicationYear.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputPublicationYear.$error.minlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationYearMinLength }}</span> <span
								ng-show="form.inputPublicationYear.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationYearMaxLength }}</span> 
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationType"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationType }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputPublicationType"
							name="inputPublicationType"
							ng-model="internationalPublication.publicationType"
							ng-options="publicationType.typeName as publicationType.typeName for publicationType in allPublicationTypes"
							required><option value="">{{ resources.publicationPopupLabels.publicationType }}</option></select>
						<div
							ng-show="form.inputPublicationType.$dirty && form.inputPublicationType.$invalid"
							class="publicationTypeFieldError">
							<span
								ng-show="form.inputPublicationType.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationCategory"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationCategory }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputPublicationCategory"
							name="inputPublicationCategory"
							ng-model="internationalPublication.publicationCategoryDto"
							ng-disabled="scientificPublicationNotSelected()"
							ng-options="publicationCategory.code for publicationCategory in allPublicationCategories track by publicationCategory.id"
							ng-required="!scientificPublicationNotSelected()"><option value="">{{ resources.publicationPopupLabels.publicationCategory }}</option></select>
						<div
							ng-show="form.inputPublicationCategory.$dirty && form.inputPublicationCategory.$invalid"
							class="publicationCategoryFieldError">
							<span
								ng-show="form.inputPublicationCategory.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="row form-group">
 	 				<label for="inputPublicationOrigin" class="col-sm-10" />
  					<div class="checkbox pull-right">
    					<label ng-repeat="choice in domesticAndForeign">
      						<input type="radio" name="publicationOrigin" value="{{choice}}" ng-model="internationalPublication.origin" />
  							{{choice}}
    					</label>
					</div>
				</div>
			</div>	
			<div class="modal-footer action">
				<button
					id="submit_button"
					type="submit"
					class="btn btn-success btn-sm"
					ng-disabled="form.$invalid || $parent.isUnchanged(internationalPublication) || noAuthors() || noPageRanges()"
					ng-click="saveInternationalPublication()">
					<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.publicationsButtons.edit }}
				</button>
				<button
					id="cancel_button"
					class="btn btn-sm"
					ng-click="cancel()">{{ resources.buttons.publicationsButtons.close }}</button>
			</div>
		</form>
	</script>

	<script
		type="text/ng-template"
		id="createNewInternationalPublicationPopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			role="form"
			ng-model="internationalPublication">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.newPublicationPopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputPublicationIsbn"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationIsbn }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationIsbn"
							name="inputPublicationIsbn"
							ng-model="internationalPublication.isbn"
							ng-maxlength="30"
							required />
						<div
							ng-show="form.inputPublicationIsbn.$dirty && form.inputPublicationIsbn.$invalid"
							class="publicationIsbnFieldError">
							<span
								ng-show="form.inputPublicationIsbn.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputPublicationIsbn.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationIsbnMaxLength }}</span> 
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationTitle"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationTitle }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationTitle"
							name="inputPublicationTitle"
							ng-model="internationalPublication.title"
							ng-maxlength="100"
							required />
						<div
							ng-show="form.inputPublicationTitle.$dirty && form.inputPublicationTitle.$invalid"
							class="publicationTitleFieldError">
							<span
								ng-show="form.inputPublicationTitle.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputPublicationTitle.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationJournalTitle"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationJournalTitle }} 
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationJournalTitle"
							name="inputPublicationJournalTitle"
							ng-model="internationalPublication.journalTitle"
							ng-maxlength="100" />
						<div
							ng-show="form.inputPublicationJournalTitle.$dirty && form.inputPublicationJournalTitle.$invalid"
							class="publicationJournalTitleFieldError">
							<span
								ng-show="form.inputPublicationJournalTitle.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span>
						</div>
					</div>
				</div>
				<div ng-repeat="author in publicationAuthorsArray">
					<div class="form-group">
						<label
							for="inputPublicationAuthor"
							class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationAuthor }} {{ $index + 1 }}
						</label>
						<div class="col-sm-6">
							<div class="input-group">
								<input
									type="text"
									class="ng-binding form-control"
									id="inputPublicationAuthor"
									name="inputPublicationAuthor"
									ng-disabled="true"
									ng-model="author"
									ng-maxlength="100" /> 
								<span
									id="remove_button"
									type="button"
									class="btn btn-sucess btn-sm input-group-addon"
									ng-click="removePublicationAuthor($index)">
									<span class="glyphicon glyphicon-remove" />
								</span>
							</div>
							<div
								ng-show="form.inputPublicationAuthor.$dirty && form.inputPublicationAuthor.$invalid"
								class="publicationAuthorFieldError">
							 	<span
									ng-show="form.inputPublicationAuthor.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidPublicationAuthorMaxLength }}</span> 
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputNewPublicationAuthor"
							class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationAuthor }} <span ng-show="publicationAuthorsArray.length == 0" class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input
								type="text"
								class="ng-binding form-control"
								id="inputNewPublicationAuthor"
								name="inputNewPublicationAuthor"
								ng-model="$parent.newPublicationAuthor"
								ng-pattern="patterns.onlyLetters"
								ng-maxlength="100"
								ng-required="publicationAuthorsArray.length == 0" /> 
							<span
								id="add_button"
								type="button"
								class="btn btn-sm input-group-addon"
								ng-disabled="!newPublicationAuthor"
								ng-click="addPublicationAuthor()">
								<span class="glyphicon glyphicon-plus" />
							</span>
						</div>
						<div
							ng-show="form.inputNewProjectLeader.$dirty && form.inputNewProjectLeader.$invalid"
							class="projectLeaderFieldError">
							<span
								ng-show="form.inputNewPublicationAuthor.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNewPublicationAuthor.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationAuthorMaxLength }}</span> <span
								ng-show="form.inputNewPublicationAuthor.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationPublisher"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationPublisher }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationPublisher"
							name="inputPublicationPublisher"
							ng-model="internationalPublication.publisher"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputPublicationTitle.$dirty && form.inputPublicationTitle.$invalid"
							class="publicationTitleFieldError">
							<span
								ng-show="form.inputPublicationPublisher.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputPublicationPublisher.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span>
						</div>
					</div>
				</div>
				<div ng-repeat="range in publicationPageRanges">
					<div class="row form-group">
						<label
							class="col-sm-4 control-label"
							ng-show="$index == 0">{{ resources.publicationPopupLabels.publicationPageRange }} 
						</label>
						<label
							class="col-sm-4"
							ng-show="$index != 0">
						</label>
						<div class="col-sm-3">
							<input
								type="number"
								class="form-control"
								id="inputPublicationFromPage"
								name="inputPublicationFromPage"
								ng-model="range.startPage"
								min="1"
								placeholder="{{ resources.publicationPopupLabels.fromPage }}"
								ng-maxlength="5"
								ng-disabled="true" />
							<div
								ng-show="form.inputPublicationStartPage.$dirty && form.inputPublicationStartPage.$invalid"
								class="publicationStartPageFieldError">
								<span
									ng-show="form.inputPublicationStartPage.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputPublicationStartPage.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidPublicationPageNumberMaxLength }}</span> <span
									ng-show="form.inputPublicationStartPage.$error.number"
									class="ng-binding">{{ errorMessages.error.onlyNumbers }}</span> <span
									ng-show="form.inputPublicationStartPage.$error.min"
									class="ng-binding">{{ errorMessages.error.minNumber }}</span>
							</div>
						</div>
						<div class="col-sm-3">
							<input
								type="number"
								class="form-control"
								id="inputPublicationToPage"
								name="inputPublicationToPage"
								ng-model="range.endPage"
								min="1"
								placeholder="{{ resources.publicationPopupLabels.toPage }}"
								ng-maxlength="5"
								ng-disabled="true" />
							<div
								ng-show="form.inputPublicationToPage.$dirty && form.inputPublicationToPage.$invalid"
								class="publicationStartPageFieldError">
								<span
									ng-show="form.inputPublicationToPage.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputPublicationToPage.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidPublicationPageNumberMaxLength }}</span> <span
									ng-show="form.inputPublicationToPage.$error.number"
									class="ng-binding">{{ errorMessages.error.onlyNumbers }}</span> <span
									ng-show="form.inputPublicationToPage.$error.min"
									class="ng-binding">{{ errorMessages.error.minNumber }}</span>
							</div>
						</div>
						<div class="col-sm-2">
							<button
								id="remove_button"
								type="button"
								class="btn btn-link btn-sm"
								ng-click="removePageRange($index)">
								<span class="glyphicon glyphicon-remove" />
							</button>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<label
						class="col-sm-4" ng-show="publicationPageRanges.length != 0">
					</label>
					<label
						class="col-sm-4 control-label"
						ng-show="publicationPageRanges.length == 0">{{ resources.publicationPopupLabels.publicationPageRange }} <span class="required">*</span>
					</label>
					<div class="col-sm-3">
						<input
							type="number"
							class="form-control"
							id="inputNewPublicationFromPage"
							name="inputNewPublicationFromPage"
							placeholder="{{ resources.publicationPopupLabels.fromPage }}"
							min="1"
							ng-model="$parent.startPage"
							ng-maxlength="5"
							ng-required="publicationPageRanges.length == 0" />
						<div
							ng-show="form.inputNewPublicationFromPage.$dirty && form.inputNewPublicationFromPage.$invalid"
							class="publicationNewStartPageFieldError">
							<span
								ng-show="form.inputNewPublicationFromPage.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNewPublicationFromPage.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationPageNumberMaxLength }}</span> <span
								ng-show="form.inputNewPublicationFromPage.$error.number"
								class="ng-binding">{{ errorMessages.error.onlyNumbers }}</span> <span
								ng-show="form.inputNewPublicationFromPage.$error.min"
								class="ng-binding">{{ errorMessages.error.minNumber }}</span>
						</div>
					</div>
					<div class="col-sm-3">
						<input
							type="number"
							class="form-control"
							id="inputNewPublicationToPage"
							name="inputNewPublicationToPage"
							placeholder="{{ resources.publicationPopupLabels.toPage }}"
							min="1"
							ng-model="$parent.endPage"
							ng-disabled="!$parent.startPage"
							ng-maxlength="5"
							ng-required="publicationPageRanges.length == 0" />
						<div
							ng-show="form.inputNewPublicationToPage.$dirty && form.inputNewPublicationToPage.$invalid"
							class="publicationNewEndPageFieldError">
							<span
								ng-show="form.inputNewPublicationToPage.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNewPublicationToPage.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationPageNumberMaxLength }}</span> <span
								ng-show="form.inputNewPublicationToPage.$error.number"
								class="ng-binding">{{ errorMessages.error.onlyNumbers }}</span> <span
								ng-show="form.inputNewPublicationToPage.$error.min"
								class="ng-binding">{{ errorMessages.error.minNumber }}</span>
						</div>
					</div>
					<div class="col-sm-2">
						<button
							id="add_button"
							type="button"
							class="btn btn-link btn-sm"
							ng-disabled="validatePageRangeInput()"
							ng-click="addNewPageRange()">
							<span class="glyphicon glyphicon-plus" />
						</button>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationYear"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationYear }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputPublicationYear"
							name="inputPublicationYear"
							ng-model="internationalPublication.year"
							ng-maxlength="4"
							ng-minlength="4"
							required />
						<div
							ng-show="form.inputPublicationYear.$dirty && form.inputPublicationYear.$invalid"
							class="publicationYearFieldError">
							<span
								ng-show="form.inputPublicationYear.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputPublicationYear.$error.minlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationYearMinLength }}</span> <span
								ng-show="form.inputPublicationYear.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidPublicationYearMaxLength }}</span> 
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationType"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationType }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputPublicationType"
							name="inputPublicationType"
							ng-model="internationalPublication.publicationType"
							ng-options="publicationType.typeName as publicationType.typeName for publicationType in allPublicationTypes"
							required><option value="">{{ resources.publicationPopupLabels.publicationType }}</option></select>
						<div
							ng-show="form.inputPublicationType.$dirty && form.inputPublicationType.$invalid"
							class="publicationTypeFieldError">
							<span
								ng-show="form.inputPublicationType.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPublicationCategory"
						class="col-sm-4 control-label">{{ resources.publicationPopupLabels.publicationCategory }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputPublicationCategory"
							name="inputPublicationCategory"
							ng-model="internationalPublication.publicationCategoryDto"
							ng-disabled="scientificPublicationNotSelected()"
							ng-options="publicationCategory.code for publicationCategory in allPublicationCategories track by publicationCategory.id"
							ng-required="!scientificPublicationNotSelected()"><option value="">{{ resources.publicationPopupLabels.publicationCategory }}</option></select>
						<div
							ng-show="form.inputPublicationCategory.$dirty && form.inputPublicationCategory.$invalid"
							class="publicationCategoryFieldError">
							<span
								ng-show="form.inputPublicationCategory.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="row form-group">
 	 				<label for="inputPublicationOrigin" class="col-sm-10" />
  					<div class="checkbox pull-right">
    					<label ng-repeat="choice in domesticAndForeign">
      						<input type="radio" name="publicationOrigin" value="{{choice}}" ng-model="internationalPublication.origin" />
  							{{ choice }}
    					</label>
					</div>
				</div>
			</div>	
			<div class="modal-footer action">
				<button
					id="submit_button"
					type="submit"
					class="btn btn-success btn-sm"
					ng-disabled="form.$invalid || !validateNewInternationalPublicationForm()"
					ng-click="saveInternationalPublication()">
					<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.publicationsButtons.save }}
				</button>
				<button
					id="cancel_button"
					class="btn btn-sm"
					ng-click="cancel()">{{ resources.buttons.publicationsButtons.close }}</button>
			</div>
		</form>
	</script>

</div>