<div>

	<form
		name="form"
		id="languageExperienceForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="language">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.languageExperienceTitle }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<table
					ng-show="professorLanguages != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td><div class="col-sm-7">{{ resources.languageExperienceTableLabels.language }}</div></td>
							<td><div class="col-sm-1">{{ resources.languageExperienceTableLabels.writing }}</div></td>
							<td><div class="col-sm-1">{{ resources.languageExperienceTableLabels.reading }}</div></td>
							<td><div class="col-sm-1">{{ resources.languageExperienceTableLabels.pronouncing }}</div></td>
							<td colspan="2"><div class="col-sm-2" /></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="language in professorLanguages">
							<td><div class="col-sm-7">{{ language.languageName }}</div></td>
							<td><div class="col-sm-1"><span
								class="glyphicon glyphicon-check"
								ng-show="language.writing && !editMode[$index]"></span> <span
								class="glyphicon glyphicon-unchecked"
								ng-show="!language.writing && !editMode[$index]"></span> <input
								type="checkbox"
								ng-model="language.writing"
								ng-show="editMode[$index]"></input></div></td>
							<td><div class="col-sm-1"><span
								class="glyphicon glyphicon-check"
								ng-show="language.reading && !editMode[$index]"></span> <span
								class="glyphicon glyphicon-unchecked"
								ng-show="!language.reading && !editMode[$index]"></span> <input
								type="checkbox"
								ng-model="language.reading"
								ng-show="editMode[$index]"></input></div></td>
							<td><div class="col-sm-1"><span
								class="glyphicon glyphicon-check"
								ng-show="language.pronouncing && !editMode[$index]"></span> <span
								class="glyphicon glyphicon-unchecked"
								ng-show="!language.pronouncing && !editMode[$index]"></span> <input
								type="checkbox"
								ng-model="language.pronouncing"
								ng-show="editMode[$index]"></input></div></td>
							<td class="delete"><div class="col-sm-1"><button
									class="btn btn-link btn-xs"
									ng-click="deleteLanguageExperience(language.id)"
									ng-disabled="addNewRow">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.languageExperienceButtons.delete }}
								</button></div></td>
							<td class="edit"><div class="col-sm-1"><button
									class="btn btn-link btn-xs"
									ng-show="!editMode[$index]"
									ng-click="makeEditable($index)"
									ng-disabled="addNewRow">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.languageExperienceButtons.edit }}
								</button>
								<button
									class="btn btn-link btn-xs"
									ng-show="editMode[$index]"
									ng-click="editLanguageExperience(language, $index)">
									<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.languageExperienceButtons.save }}
								</button></div></td>
						</tr>
						<tr
							class="active"
							ng-show="addNewRow">
							<td><div class="col-sm-7"><select
								class="ng-binding form-control"
								id="inputLanguageName"
								name="inputLanguageName"
								ng-model="selectedLanguage"
								ng-options="language as language.languageName for language in allLanguages"
								required><option value="">{{ resources.languageExperienceTableLabels.selectLanguage }}</option></select>
								<div
									ng-show="form.inputLanguageName.$dirty && form.inputLanguageName.$invalid"
									class="languagenameFieldError">
									<span
										ng-show="form.inputLanguageName.$error.required"
										class="ng-binding">{{ errorMessages.error.required }}</span>
								</div></div></td>
							<td><div class="col-sm-1"><input
								type="checkbox"
								ng-checked="false"
								ng-model="language.writing"></input></div></td>
							<td><div class="col-sm-1"><input
								type="checkbox"
								ng-checked="false"
								ng-model="language.reading"></input></div></td>
							<td><div class="col-sm-1"><input
								type="checkbox"
								ng-checked="false"
								ng-model="language.pronouncing"></input></div></td>
							<td colspan="2"><div class="col-sm-2" /></td>
						</tr>
						<tr ng-show="noResultsFound && !addNewRow">
							<td colspan="6"><div class="col-sm-12">{{ errorMessages.error.emptyTable }}</div></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-show="!addNewRow"
				ng-click="addNewLanguage()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.languageExperienceButtons.add }}
			</button>
			<button
				id="cancelAddingNew"
				class="btn btn-sm"
				ng-show="addNewRow"
				ng-click="cancelAddingNew()">
				<span class="glyphicon glyphicon-remove"></span> {{ resources.buttons.languageExperienceButtons.cancel }}
			</button>
			<button
				id="saveNewButton"
				class="btn btn-success btn-sm"
				ng-show="addNewRow"
				ng-disabled="isNewLanguageSelected() || !(language.writing || language.reading || language.pronouncing)"
				ng-click="saveNewLanguageExperience()">
				<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.languageExperienceButtons.save }}
			</button>
		</div>
	</form>

</div>