<div>

	<form
		name="form"
		id="showAllProfessorSubjectsSurveysForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="survey">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.surveysTitle }}: {{ completeSurveyDataArray[1].subject.subjectName }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>

				<table
					ng-show="allSurveys != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.surveysTableLabels.academicYear }}</td>
							<td>{{ resources.surveysTableLabels.averageStudentGrade }}</td>
							<td>{{ resources.surveysTableLabels.numberOfStudents }}</td>
							<td colspan="2"></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="survey in allSurveys">
							<td>{{ survey.academicYear }}</td>
							<td>{{ survey.averageGrade }}</td>
							<td>{{ survey.numberOfStudents }}</td>
							<td class="delete"><button
									class="btn btn-link btn-xs"
									ng-click="deleteSurvey(survey.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.surveysButtons.delete }}
								</button></td>
							<td class="edit"><button
									class="btn btn-link btn-xs"
									ng-click="editSurvey(survey.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.surveysButtons.edit }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td colspan="5">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-click="createNewSurvey()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.surveysButtons.add }}
			</button>
		</div>
	</form>

	<script
		type="text/ng-template"
		id="editSurveyPopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			novalidate
			role="form"
			ng-model="survey">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.editSurveyPopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputAcademicYear"
						class="col-sm-3 control-label">{{ resources.surveyPopupLabels.academicYear }} <span class="required">*</span>
					</label>
					<div class="col-sm-4">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputAcademicYear"
							name="inputAcademicYear"
							ng-model="survey.academicYear"
							placeholder="{{ resources.surveyPopupLabels.academicYear }}"
							ng-minlength="9"
							ng-maxlength="9"
							required />
						<div
							ng-show="form.inputAcademicYear.$dirty && form.inputAcademicYear.$invalid"
							class="academicYearFieldError">
							<span
								ng-show="form.inputAcademicYear.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputAcademicYear.$error.minlength"
								class="ng-binding">{{ errorMessages.error.invalidSurveyAcademicYearMinLength }}</span> <span
								ng-show="form.inputAcademicYear.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidSurveyAcademicYearMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputAverageGrade"
						class="col-sm-3 control-label">{{ resources.surveyPopupLabels.averageGrade }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<input
							type="number"
							class="form-control"
							id="inputAverageGrade"
							name="inputAverageGrade"
							ng-model="survey.averageGrade"
							placeholder="{{ resources.surveyPopupLabels.averageGrade }}"
							step="0.01"
							min="5"
							max="10"
							ng-maxlength="5"
							required />
						<div
							ng-show="form.inputAverageGrade.$dirty && form.inputAverageGrade.$invalid"
							class="averageGradeFieldError">
							<span
								ng-show="form.inputAverageGrade.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputAverageGrade.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxGradeLength }}</span> <span
								ng-show="form.inputAverageGrade.$error.min"
								class="ng-binding">{{ errorMessages.error.minAverageNumber }}</span> <span
								ng-show="form.inputAverageGrade.$error.max"
								class="ng-binding">{{ errorMessages.error.maxAverageNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputNumberOfStudents"
						class="col-sm-3 control-label">{{ resources.surveyPopupLabels.numberOfStudents }} <span class="required">*</span>
					</label>
					<div class="col-sm-4">
						<input
							type="number"
							class="form-control ng-valid ng-valid-number ng-valid-min ng-valid-maxlength ng-dirty"
							id="inputNumberOfStudents"
							name="inputNumberOfStudents"
							ng-model="survey.numberOfStudents"
							placeholder="{{ resources.surveyPopupLabels.numberOfStudents }}"
							min="1"
							ng-maxlength="5"
							required />
						<div
							ng-show="form.inputNumberOfStudents.$dirty && form.inputNumberOfStudents.$invalid"
							class="numberOfStudentsFieldError">
							<span
								ng-show="form.inputNumberOfStudents.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfStudents.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputNumberOfStudents.$error.min"
								class="ng-binding">{{ errorMessages.error.minNumberOfStudents }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer action">
				<button
					id="submit_button"
					type="submit"
					class="btn btn-success btn-sm"
					ng-disabled="form.$invalid || isUnchanged(survey)"
					ng-click="saveSurvey()">
					<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.surveysButtons.edit }}
				</button>
				<button
					id="cancel_button"
					class="btn btn-sm"
					ng-click="cancel()">{{ resources.buttons.surveysButtons.close }}</button>
			</div>
		</form>
	</script>

	<script
		type="text/ng-template"
		id="createNewSurveyPopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			novalidate
			role="form"
			ng-model="survey">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.addNewSurveyPopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputAcademicYear"
						class="col-sm-3 control-label">{{ resources.surveyPopupLabels.academicYear }} <span class="required">*</span>
					</label>
					<div class="col-sm-4">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputAcademicYear"
							name="inputAcademicYear"
							ng-model="survey.academicYear"
							placeholder="{{ resources.surveyPopupLabels.academicYear }}"
							ng-minlength="9"
							ng-maxlength="9"
							required />
						<div
							ng-show="form.inputAcademicYear.$dirty && form.inputAcademicYear.$invalid"
							class="academicYearFieldError">
							<span
								ng-show="form.inputAcademicYear.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputAcademicYear.$error.minlength"
								class="ng-binding">{{ errorMessages.error.invalidSurveyAcademicYearMinLength }}</span> <span
								ng-show="form.inputAcademicYear.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidSurveyAcademicYearMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputAverageGrade"
						class="col-sm-3 control-label">{{ resources.surveyPopupLabels.averageGrade }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<input
							type="number"
							class="form-control"
							id="inputAverageGrade"
							name="inputAverageGrade"
							ng-model="survey.averageGrade"
							placeholder="{{ resources.surveyPopupLabels.averageGrade }}"
							step="0.01"
							min="5"
							max="10"
							ng-maxlength="5"
							required />
						<div
							ng-show="form.inputAverageGrade.$dirty && form.inputAverageGrade.$invalid"
							class="averageGradeFieldError">
							<span
								ng-show="form.inputAverageGrade.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputAverageGrade.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxGradeLength }}</span> <span
								ng-show="form.inputAverageGrade.$error.min"
								class="ng-binding">{{ errorMessages.error.minAverageNumber }}</span> <span
								ng-show="form.inputAverageGrade.$error.max"
								class="ng-binding">{{ errorMessages.error.maxAverageNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputNumberOfStudents"
						class="col-sm-3 control-label">{{ resources.surveyPopupLabels.numberOfStudents }} <span class="required">*</span>
					</label>
					<div class="col-sm-4">
						<input
							type="number"
							class="form-control ng-valid ng-valid-number ng-valid-min ng-valid-maxlength ng-dirty"
							id="inputNumberOfStudents"
							name="inputNumberOfStudents"
							ng-model="survey.numberOfStudents"
							placeholder="{{ resources.surveyPopupLabels.numberOfStudents }}"
							min="1"
							ng-maxlength="5"
							required />
						<div
							ng-show="form.inputNumberOfStudents.$dirty && form.inputNumberOfStudents.$invalid"
							class="numberOfStudentsFieldError">
							<span
								ng-show="form.inputNumberOfStudents.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfStudents.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputNumberOfStudents.$error.min"
								class="ng-binding">{{ errorMessages.error.minNumberOfStudents }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer action">
		 		<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="!validateForm()" ng-click="saveNewSurvey()"><span class="glyphicon glyphicon-save"></span> {{ resources.buttons.surveysButtons.save }}</button>
		 		<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.buttons.surveysButtons.close }}</button>
  			</div>
		</form>
	</script>

</div>