<div>

	<form
		name="form"
		id="showAllProfessionalOrganizationConductionsForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="conduction">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.professionalOrganizationConductionsTitle }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>

				<table
					ng-show="conductings != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.professionalOrganizationConductionTableLabels.organization }}</td>
							<td>{{ resources.professionalOrganizationConductionTableLabels.function }}</td>
							<td>{{ resources.professionalOrganizationConductionTableLabels.startDate }}</td>
							<td>{{ resources.professionalOrganizationConductionTableLabels.endDate }}</td>
							<td
								ng-show="isUser"
								colspan="2"></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="conduction in conductings">
							<td>{{ conduction.organization}}</td>
							<td>{{ conduction.functionDesc }}</td>
							<td>{{ conduction.startDate | date:'dd-MM-yyyy' }}</td>
							<td>{{ conduction.endDate | date:'dd-MM-yyyy' }}</td>
							<td
								class="delete"
								ng-show="isUser"><button
									class="btn btn-link btn-xs"
									ng-click="deleteConduction(conduction.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.conductionButtons.delete }}
								</button></td>
							<td
								class="edit"
								ng-show="isUser"><button
									class="btn btn-link btn-xs"
									ng-click="editConduction(conduction.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.conductionButtons.edit }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td
								ng-show="isUser"
								colspan="7">{{ errorMessages.error.emptyTable }}</td>
							<td
								ng-show="isAdmin"
								colspan="5">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-show="isUser"
				ng-click="createNewConduction()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.conductionButtons.add }}
			</button>
			<button
				id="cancel_button"
				class="btn btn-sm"
				ng-click="goBack()">
				<span class="glyphicon glyphicon-arrow-left"></span> {{ resources.form.back }}
			</button>
		</div>
	</form>

	<script
		type="text/ng-template"
		id="editProfessionalOrganizationConductionPopup.html">
		<form name="form" class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required" novalidate role="form" ng-model="conduction">
			<div class="modal-header">
    			<h3 class="modal-title">{{ resources.text.editProfessionalOrganizationConductionPopupTitle }}</h3>
   	 		</div>
    		<div class="modal-body">
    			<div class="form-group">
					<label
						for="inputOrganization"
						class="col-sm-4 control-label">{{ resources.professionalOrganizationConductionPopupLabels.organization }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputOrganization"
							name="inputOrganization"
							ng-model="conduction.organization"
							placeholder="{{ resources.professionalOrganizationConductionPopupLabels.organization }}"
							ng-maxlength="200"
							required />
						<div
							ng-show="form.inputOrganization.$dirty && form.inputOrganization.$invalid"
							class="organizationFieldError">
								<span
									ng-show="form.inputOrganization.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputOrganization.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidOrganizationMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputFunction"
						class="col-sm-4 control-label">{{ resources.professionalOrganizationConductionPopupLabels.function }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFunction"
							name="inputFunction"
							ng-model="conduction.functionDesc"
							placeholder="{{ resources.professionalOrganizationConductionPopupLabels.function }}"
							ng-maxlength="200"
							required />
						<div
							ng-show="form.inputFunction.$dirty && form.inputFunction.$invalid"
							class="functionFieldError">
								<span
									ng-show="form.inputFunction.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputFunction.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidFunctionMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputWorkStartDate"
						class="col-sm-4 control-label">{{ resources.professionalOrganizationConductionPopupLabels.startDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputStartDate"
								name="inputStartDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputStartDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="conduction.startDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openStartDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputStartDate.$dirty && form.inputStartDate.$invalid"
							class="startDateFieldError">
							<span
								ng-show="form.inputStartDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputEndDate"
						class="col-sm-4 control-label">{{ resources.professionalOrganizationConductionPopupLabels.endDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputEndDate"
								name="inputEndDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputEndDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="conduction.endDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openWorkEndDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputEndDate.$dirty && form.inputEndDate.$invalid"
							class="endDateFieldError">
							<span
								ng-show="form.inputEndDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
   			</div>
   			<div class="modal-footer action">
		 		<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="form.$invalid || isUnchanged(conduction)" ng-click="saveConduction()"><span class="glyphicon glyphicon-save"></span> {{ resources.buttons.conductionButtons.edit }}</button>
		 		<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.buttons.conductionButtons.close }}</button>
  			</div>
		</form>
	</script>

	<script
		type="text/ng-template"
		id="createNewProfessionalOrganizationConductionPopup.html">
		<form name="form" class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required" novalidate role="form" ng-model="conduction">
			<div class="modal-header">
    			<h3 class="modal-title">{{ resources.text.createNewProfessionalOrganizationConductionPopupTitle }}</h3>
   	 		</div>
    		<div class="modal-body">
    			<div class="form-group">
					<label
						for="inputOrganization"
						class="col-sm-4 control-label">{{ resources.professionalOrganizationConductionPopupLabels.organization }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputOrganization"
							name="inputOrganization"
							ng-model="conduction.organization"
							placeholder="{{ resources.professionalOrganizationConductionPopupLabels.organization }}"
							ng-maxlength="200"
							required />
						<div
							ng-show="form.inputOrganization.$dirty && form.inputOrganization.$invalid"
							class="organizationFieldError">
								<span
									ng-show="form.inputOrganization.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputOrganization.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidOrganizationMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputFunction"
						class="col-sm-4 control-label">{{ resources.professionalOrganizationConductionPopupLabels.function }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFunction"
							name="inputFunction"
							ng-model="conduction.functionDesc"
							placeholder="{{ resources.professionalOrganizationConductionPopupLabels.function }}"
							ng-maxlength="200"
							required />
						<div
							ng-show="form.inputFunction.$dirty && form.inputFunction.$invalid"
							class="functionFieldError">
								<span
									ng-show="form.inputFunction.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputFunction.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidFunctionMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputWorkStartDate"
						class="col-sm-4 control-label">{{ resources.professionalOrganizationConductionPopupLabels.startDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputStartDate"
								name="inputStartDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputStartDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="conduction.startDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openStartDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputStartDate.$dirty && form.inputStartDate.$invalid"
							class="startDateFieldError">
							<span
								ng-show="form.inputStartDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputEndDate"
						class="col-sm-4 control-label">{{ resources.professionalOrganizationConductionPopupLabels.endDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputEndDate"
								name="inputEndDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputEndDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="conduction.endDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openWorkEndDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputEndDate.$dirty && form.inputEndDate.$invalid"
							class="endDateFieldError">
							<span
								ng-show="form.inputEndDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
   			</div>
   			<div class="modal-footer action">
		 		<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="!validateForm()" ng-click="saveNewConduction()"><span class="glyphicon glyphicon-save"></span> {{ resources.buttons.conductionButtons.save }}</button>
		 		<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.buttons.conductionButtons.close }}</button>
  			</div>
		</form>
	</script>

</div>