<div>

	<form
		name="form"
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
		role="form"
		novalidate
		ng-model="masterStudies">
	
		<table>
			<tbody>
				<tr ng-repeat="masterStudies in allMasterStudies">
					<td>
						<div class="modal-header">
							<h3 class="modal-title">{{ resources.text.professorMasterStudiesTitle }} {{ $index + 1 }}</h3>
						</div>
						<div class="modal-body">
							<fieldset>
								<div class="row form-group">
									<label
										for="inputStudyStartDate"
										class="col-sm-2 control-label">{{ resources.professorMasterStudies.studyStartDate }} <span
										class="required"
										ng-show="editMode[$index]">*</span></label>
									<div class="col-sm-2">
										<div
											class="input-group date"
											id="datepicker">
											<input
												type="text"
												class="form-control"
												id="inputStudyStartDate"
												name="inputStudyStartDate"
												placeholder="DD-MM-GGGG"
												datepicker-popup="dd-MM-yyyy"
												is-open="inputStudyStartDateOpened[$index]"
												min-date="minDate"
												max-date="maxDate"
												datepicker-options="dateOptions"
												show-button-bar="false"
												ng-model="masterStudies.studyStartDate"
												ng-disabled="!editMode[$index]"
												required /> <span class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar"
												ng-click="openStudyStartDate($event, $index)"></span>
											</span>
										</div>
										<div
											ng-show="form.inputStudyStartDate.$dirty && form.inputStudyStartDate.$invalid"
											class="studyStartDateFieldError">
											<span
												ng-show="form.inputStudyStartDate.$error.required"
												class="ng-binding">{{ errorMessages.error.required }}</span>
										</div>
									</div>
									<label
										for="inputStudyEndDate"
										class="col-sm-2 control-label">{{ resources.professorMasterStudies.studyEndDate }} <span
										class="required"
										ng-show="editMode[$index]">*</span></label>
									<div class="col-sm-2">
										<div
											class="input-group date"
											id="datepicker">
											<input
												type="text"
												class="form-control"
												id="inputStudyEndDate"
												name="inputStudyEndDate"
												placeholder="DD-MM-GGGG"
												datepicker-popup="dd-MM-yyyy"
												is-open="inputStudyEndDateOpened[$index]"
												min-date="minDate"
												max-date="maxDate"
												datepicker-options="dateOptions"
												show-button-bar="false"
												ng-model="masterStudies.studyEndDate"
												ng-disabled="!editMode[$index]"
												required /> <span class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar"
												ng-click="openStudyEndDate($event, $index)"></span>
											</span>
										</div>
										<div
											ng-show="form.inputStudyEndDate.$dirty && form.inputStudyEndDate.$invalid"
											class="studyEndDateFieldError">
											<span
												ng-show="form.inputStudyEndDate.$error.required"
												class="ng-binding">{{ errorMessages.error.required }}</span>
										</div>
									</div>
									<label
										for="inputAverageGrade"
										class="col-sm-2 control-label">{{ resources.professorMasterStudies.averageGrade }} <span
										class="required"
										ng-show="editMode[$index]">*</span></label>
									<div class="col-sm-2">
										<input
											type="number"
											class="form-control"
											id="inputAverageGrade"
											name="inputAverageGrade"
											ng-model="masterStudies.averageGrade"
											placeholder="{{ resources.professorMasterStudies.averageGrade }}"
											step="0.01"
											ng-disabled="!editMode[$index]"
											min="5"
											max="10"
											ng-maxlength="5"
											required />
										<div
											ng-show="form.inputAverageGrade.$dirty && form.inputAverageGrade.$invalid"
											class="averageGradeFieldError">
											<span
												ng-show="form.inputAverageGrade.$error.required"
												class="ng-binding">{{ errorMessages.error.required }}</span> <span
												ng-show="form.inputAverageGrade.$error.maxlength"
												class="ng-binding">{{ errorMessages.error.invalidMaxGradeLength }}</span> <span
												ng-show="form.inputAverageGrade.$error.min"
												class="ng-binding">{{ errorMessages.error.minAverageNumber }}</span> <span
												ng-show="form.inputAverageGrade.$error.max"
												class="ng-binding">{{ errorMessages.error.maxAverageNumber }}</span>
										</div>
									</div>
								</div>
								<div class="row form-group">
									<label
										for="inputUniversityName"
										class="col-sm-2 control-label">{{ resources.professorMasterStudies.universityName }} <span
										class="required"
										ng-show="editMode[$index]">*</span></label>
									<div class="col-sm-4">
										<input
											type="text"
											class="form-control"
											id="inputUniversityName"
											name="inputUniversityName"
											ng-model="masterStudies.universityName"
											placeholder="{{ resources.professorMasterStudies.universityName }}"
											ng-maxlength="50"
											ng-disabled="!editMode[$index]"
											required />
										<div
											ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
											class="universityNameFieldError">
											<span
												ng-show="form.inputUniversityName.$error.required"
												class="ng-binding">{{ errorMessages.error.required }}</span> <span
												ng-show="form.inputUniversityName.$error.maxlength"
												class="ng-binding">{{ errorMessages.error.invalidUniversityNameMaxLength }}</span>
										</div>
									</div>
									<label
										for="inputFacultyName"
										class="col-sm-2 control-label">{{ resources.professorMasterStudies.facultyName }} <span
										class="required"
										ng-show="editMode[$index]">*</span></label>
									<div class="col-sm-4">
										<input
											type="text"
											class="form-control"
											id="inputFacultyName"
											name="inputFacultyName"
											ng-model="masterStudies.facultyName"
											placeholder="{{ resources.professorMasterStudies.facultyName }}"
											ng-maxlength="50"
											ng-disabled="!editMode[$index]"
											required />
										<div
											ng-show="form.inputFacultyName.$dirty && form.inputFacultyName.$invalid"
											class="universityNameFieldError">
											<span
												ng-show="form.inputFacultyName.$error.required"
												class="ng-binding">{{ errorMessages.error.required }}</span> <span
												ng-show="form.inputFacultyName.$error.maxlength"
												class="ng-binding">{{ errorMessages.error.invalidFacultyNameMaxLength }}</span>
										</div>
									</div>
								</div>
								<div class="row form-group">
									<label
										for="inputStudyProgram"
										class="col-sm-2 control-label">{{ resources.professorMasterStudies.studyProgram }} <span
										class="required"
										ng-show="editMode[$index]">*</span></label>
									<div class="col-sm-4">
										<select
											class="ng-binding form-control"
											id="inputStudyProgram"
											name="inputStudyProgram"
											ng-model="masterStudies.studyProgram"
											ng-options="studyProgram.title for studyProgram in allStudyPrograms track by studyProgram.name"
											ng-show="editMode[$index]"
											required><option value="">{{ resources.professorMasterStudies.studyProgram }}</option></select> 
										<input
											type="text"
											class="form-control"
											id="inputStudyProgram"
											name="inputStudyProgram"
											ng-model="masterStudies.studyProgram.title"
											ng-show="!editMode[$index]"
											ng-disabled="true" />
										<div
											ng-show="form.inputStudyProgram.$dirty && form.inputStudyProgram.$invalid"
											class="studyProgramFieldError">
											<span
												ng-show="form.inputStudyProgram.$error.required"
												class="ng-binding">{{ errorMessages.error.required }}</span>
										</div>
									</div>
									<label
										for="inputStudyArea"
										class="col-sm-2 control-label">{{ resources.professorMasterStudies.studyArea }} <span
										class="required"
										ng-show="editMode[$index]">*</span></label>
									<div class="col-sm-4">
										<input
											type="text"
											class="form-control"
											id="inputStudyArea"
											name="inputStudyArea"
											ng-model="masterStudies.studyArea"
											placeholder="{{ resources.professorMasterStudies.studyArea }}"
											ng-maxlength="100"
											ng-disabled="!editMode[$index]"
											required />
										<div
											ng-show="form.inputStudyArea.$dirty && form.inputStudyArea.$invalid"
											class="inputStudyAreaError">
											<span
												ng-show="form.inputStudyArea.$error.required"
												class="ng-binding">{{ errorMessages.error.required }}</span> <span
												ng-show="form.inputStudyArea.$error.maxlength"
												class="ng-binding">{{ errorMessages.error.invalidStudyAreaMaxLength }}</span>
										</div>
									</div>
								</div>
								<div class="row form-group">
									<label
										for="inputThesisTitle"
										class="col-sm-2 control-label">{{ resources.professorMasterStudies.thesisTitle }} <span
										class="required"
										ng-show="editMode[$index]">*</span></label>
									<div class="col-sm-4">
										<input
											type="text"
											class="form-control"
											id="inputThesisTitle"
											name="inputThesisTitle"
											ng-model="masterStudies.thesisTitle"
											placeholder="{{ resources.professorMasterStudies.thesisTitle }}"
											ng-disabled="!editMode[$index]"
											ng-maxlength="200"
											required />
										<div
											ng-show="form.inputThesisTitle.$dirty && form.inputThesisTitle.$invalid"
											class="thesisTitleFieldError">
											<span
												ng-show="form.inputThesisTitle.$error.required"
												class="ng-binding">{{ errorMessages.error.required }}</span> <span
												ng-show="form.inputThesisTitle.$error.maxlength"
												class="ng-binding">{{ errorMessages.error.invalidThesisTitleMaxLength }}</span>
										</div>
									</div>
									<label
										for="inputAcquiredTitle"
										class="col-sm-2 control-label">{{ resources.professorMasterStudies.acquiredTitle }} <span
										class="required"
										ng-show="editMode[$index]">*</span></label>
									<div class="col-sm-4">
										<input
											type="text"
											class="form-control"
											id="inputAcquiredTitle"
											name="inputAcquiredTitle"
											ng-model="masterStudies.acquiredTitle"
											placeholder="{{ resources.professorMasterStudies.acquiredTitle }}"
											ng-disabled="!editMode[$index]"
											ng-pattern="patterns.onlyLetters"
											ng-maxlength="30"
											required />
										<div
											ng-show="form.inputAcquiredTitle.$dirty && form.inputAcquiredTitle.$invalid"
											class="acquiredTitleFieldError">
											<span
												ng-show="form.inputAcquiredTitle.$error.required"
												class="ng-binding">{{ errorMessages.error.required }}</span> <span
												ng-show="form.inputAcquiredTitle.$error.maxlength"
												class="ng-binding">{{ errorMessages.error.invalidAcquiredTitleMaxLength }}</span> <span
												ng-show="form.inputAcquiredTitle.$error.pattern"
												class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="modal-footer action">
							<button
								id="edit_button"
								type="edit"
								class="btn btn-link btn-sm"
								ng-show="!editMode[$index]"
								ng-click="editProfesorMasterStudies($index)">
								<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.professorStudiesButtons.edit }}
							</button>
							<button
								id="submit_button"
								type="submit"
								class="btn btn-link btn-sm"
								ng-show="editMode[$index]"
								ng-disabled="form.$invalid || isUnchanged($index)"
								ng-click="updateProfessorMasterStudies(masterStudies, $index)">
								<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.professorStudiesButtons.save }}
							</button>
							<button
								id="cancel_button"
								class="btn btn-link btn-sm"
								ng-show="editMode[$index]"
								ng-click="close($index)">
								{{ resources.buttons.professorStudiesButtons.close }}
							</button>
							<button
								id="delete_button"
								class="btn btn-link btn-sm"
								ng-show="!editMode[$index]"
								ng-click="deleteProfessorMasterStudies(masterStudies.id, $index)">
								<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.professorStudiesButtons.delete }}
							</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="text-center" ng-show="allMasterStudies.length == 0">{{ errorMessages.error.emptyTable }}</div>	
					</td>
				</tr>
				<tr>
					<td>
						<div class="text-center">
							<button
								id="addNewButton"
								class="btn btn-success btn-large"
								ng-disabled="isInEditMode()"
								ng-click="createNewMasterStudies()">
								<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.professorStudiesButtons.add }}
							</button>
						</div>	
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	
	<script
		type="text/ng-template"
		id="createNewMasterStudiesPopup.html">
		<form name="form" class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required" role="form" ng-model="masterStudies">
			<div class="modal-header">
    			<h3 class="modal-title">{{ resources.text.addNewMasterStudiesTitle }}</h3>
   	 		</div>
    		<div class="modal-body">
				<div class="form-group">
					<label
						for="inputFacultyName"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.facultyName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputFacultyName"
							name="inputFacultyName"
							ng-model="$parent.selectedFaculty"
							typeahead="faculty as faculty.name for faculty in getFaculties($viewValue) | limitTo:8"
							typeahead-on-select="onSelectFaculty()"
							placeholder="{{ resources.masterStudiesPopupLabels.facultyName }}"
							autocomplete="off"
							required />
						<div
							ng-show="form.inputFacultyName.$dirty && form.inputFacultyName.$invalid"
							class="facultyNameFieldError">
							<span
								ng-show="form.inputFacultyName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputUniversityName"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.universityName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputUniversityName"
							name="inputUniversityName"
							ng-model="masterStudies.universityName"
							placeholder="{{ resources.masterStudiesPopupLabels.universityName }}"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
							class="universityNameFieldError">
							<span
								ng-show="form.inputUniversityName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputUniversityName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidUniversityNameMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="!isExistingFaculty">
					<label
						for="inputFacultyCity"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.facultyCity }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFacultyCity"
							name="inputFacultyCity"
							ng-model="masterStudies.facultyCity"
							placeholder="{{ resources.masterStudiesPopupLabels.facultyCity }}"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputFacultyCity.$dirty && form.inputFacultyCity.$invalid"
							class="facultyCityFieldError">
							<span
								ng-show="form.inputFacultyCity.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputFacultyCity.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCityMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="!isExistingFaculty">
					<label
						for="inputFacultyCountry"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.facultyCountry }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFacultyCountry"
							name="inputFacultyCountry"
							ng-model="masterStudies.facultyCountry"
							placeholder="{{ resources.masterStudiesPopupLabels.facultyCountry }}"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputFacultyCountry.$dirty && form.inputFacultyCountry.$invalid"
							class="facultyCountryFieldError">
							<span
								ng-show="form.inputFacultyCountry.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputFacultyCountry.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCountryMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputStudyProgram"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.studyProgram }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<select
							class="ng-binding form-control"
							id="inputStudyProgram"
							name="inputStudyProgram"
							ng-model="masterStudies.studyProgram"
							ng-options="studyProgram.title for studyProgram in allStudyPrograms track by studyProgram.name"
							required><option value="">{{ resources.masterStudiesPopupLabels.studyProgram }}</option></select> 
						<div
							ng-show="form.inputStudyProgram.$dirty && form.inputStudyProgram.$invalid"
							class="studyProgramFieldError">
							<span
								ng-show="form.inputStudyProgram.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputStudyArea"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.studyArea }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputStudyArea"
							name="inputStudyArea"
							ng-model="masterStudies.studyArea"
							placeholder="{{ resources.masterStudiesPopupLabels.studyArea }}"
							ng-maxlength="100"
							required />
						<div
							ng-show="form.inputStudyArea.$dirty && form.inputStudyArea.$invalid"
							class="inputStudyAreaError">
							<span
								ng-show="form.inputStudyArea.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputStudyArea.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidStudyAreaMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputStudyStartDate"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.studyStartDate }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputStudyStartDate"
								name="inputStudyStartDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputStudyStartDateOpened"
								min-date="minDate"
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="masterStudies.studyStartDate"
								required />
							<span class="input-group-addon"> 
								<span
									class="glyphicon glyphicon-calendar"
									ng-click="openStudyStartDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputStudyStartDate.$dirty && form.inputStudyStartDate.$invalid"
							class="studyStartDateFieldError">
							<span
								ng-show="form.inputStudyStartDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputStudyEndDate"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.studyEndDate }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputStudyEndDate"
								name="inputStudyEndDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputStudyEndDateOpened"
								min-date="minDate"
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="masterStudies.studyEndDate"
								required />
							<span class="input-group-addon"> 
								<span
									class="glyphicon glyphicon-calendar"
									ng-click="openStudyEndDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputStudyEndDate.$dirty && form.inputStudyEndDate.$invalid"
							class="studyEndDateFieldError">
							<span
								ng-show="form.inputStudyEndDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputAverageGrade"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.averageGrade }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputAverageGrade"
							name="inputAverageGrade"
							ng-model="masterStudies.averageGrade"
							placeholder="{{ resources.masterStudiesPopupLabels.averageGrade }}"
							step="0.01"
							min="5"
							max="10"
							ng-maxlength="5"
							required />
						<div
							ng-show="form.inputAverageGrade.$dirty && form.inputAverageGrade.$invalid"
							class="averageGradeFieldError">
							<span
								ng-show="form.inputAverageGrade.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputAverageGrade.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxGradeLength }}</span> <span
								ng-show="form.inputAverageGrade.$error.min"
								class="ng-binding">{{ errorMessages.error.minAverageNumber }}</span> <span
								ng-show="form.inputAverageGrade.$error.max"
								class="ng-binding">{{ errorMessages.error.maxAverageNumber }}</span>
						</div>
					</div>
				</div>	
				<div class="form-group">
					<label
						for="inputThesisTitle"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.thesisTitle }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputThesisTitle"
							name="inputThesisTitle"
							ng-model="masterStudies.thesisTitle"
							placeholder="{{ resources.masterStudiesPopupLabels.thesisTitle }}"
							ng-maxlength="200"
							required />
						<div
							ng-show="form.inputThesisTitle.$dirty && form.inputThesisTitle.$invalid"
							class="thesisTitleFieldError">
							<span
								ng-show="form.inputThesisTitle.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputThesisTitle.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidThesisTitleMaxLength }}</span>
						</div>
					</div>
   				</div>
				<div class="form-group">
					<label
						for="inputAcquiredTitle"
						class="col-sm-4 control-label">{{ resources.masterStudiesPopupLabels.acquiredTitle }} <span class="required">*</span></label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputAcquiredTitle"
							name="inputAcquiredTitle"
							ng-model="masterStudies.acquiredTitle"
							placeholder="{{ resources.masterStudiesPopupLabels.acquiredTitle }}"
							ng-pattern="patterns.onlyLetters"
							ng-maxlength="30"
							required />
						<div
							ng-show="form.inputAcquiredTitle.$dirty && form.inputAcquiredTitle.$invalid"
							class="acquiredTitleFieldError">
							<span
								ng-show="form.inputAcquiredTitle.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputAcquiredTitle.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidAcquiredTitleMaxLength }}</span> <span
								ng-show="form.inputAcquiredTitle.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
   				</div>
			</div>
   			<div class="modal-footer action">
		 		<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="!validateForm()" ng-click="saveNewProfessorMasterStudies()"><span class="glyphicon glyphicon-save"></span> {{ resources.buttons.professorStudiesButtons.save }}</button>
		 		<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.buttons.professorStudiesButtons.close }}</button>
  			</div>
		</form>
	</script>

</div>