<div>

	<form
		name="form"
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
		role="form"
		novalidate
		ng-model="bachelorStudies">

		<div ng-repeat="bachelorStudies in allBachelorStudies">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.professorBachelorStudiesTitle }}: {{ bachelorStudies.facultyName }}, {{ bachelorStudies.universityName }}</h3>
			</div>
			<div class="modal-body">
				<fieldset>
					<div class="row form-group">
						<label
							for="inputStudyStartDate"
							class="col-sm-2 control-label">{{ resources.professorBachelorStudies.studyStartDate }} <span
							class="required"
							ng-show="editMode[$index]">*</span></label>
						<div class="col-sm-2">
							<div
								class="input-group date"
								id="datepicker">
								<input
									type="text"
									class="form-control"
									id="inputStudyStartDate"
									name="inputStudyStartDate"
									placeholder="DD-MM-GGGG"
									datepicker-popup="dd-MM-yyyy"
									is-open="inputStudyStartDateOpened[$index]"
									min-date="minDate"
									max-date="maxDate"
									datepicker-options="dateOptions"
									show-button-bar="false"
									ng-model="bachelorStudies.studyStartDate"
									ng-disabled="!editMode[$index]"
									required /> <span class="input-group-addon"> <span
									class="glyphicon glyphicon-calendar"
									ng-click="openStudyStartDate($event, $index)"></span>
								</span>
							</div>
							<div
								ng-show="form.inputStudyStartDate.$dirty && form.inputStudyStartDate.$invalid"
								class="StudyStartDateFieldError">
								<span
									ng-show="form.inputStudyStartDate.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span>
							</div>
						</div>
						<label
							for="inputStudyEndDate"
							class="col-sm-2 control-label">{{ resources.professorBachelorStudies.studyEndDate }} <span
							class="required"
							ng-show="editMode[$index]">*</span></label>
						<div class="col-sm-2">
							<div
								class="input-group date"
								id="datepicker">
								<input
									type="text"
									class="form-control"
									id="inputStudyEndDate"
									name="inputStudyEndDate"
									placeholder="DD-MM-GGGG"
									datepicker-popup="dd-MM-yyyy"
									is-open="inputStudyEndDateOpened[$index]"
									min-date="minDate"
									max-date="maxDate"
									datepicker-options="dateOptions"
									show-button-bar="false"
									ng-model="bachelorStudies.studyEndDate"
									ng-disabled="!editMode[$index]"
									required /> <span class="input-group-addon"> <span
									class="glyphicon glyphicon-calendar"
									ng-click="openStudyEndDate($event, $index)"></span>
								</span>
							</div>
							<div
								ng-show="form.inputStudyEndDate.$dirty && form.inputStudyEndDate.$invalid"
								class="StudyEndDateFieldError">
								<span
									ng-show="form.inputStudyEndDate.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span>
							</div>
						</div>
						<label
							for="inputAverageGrade"
							class="col-sm-2 control-label">{{ resources.professorBachelorStudies.averageGrade }} <span
							class="required"
							ng-show="editMode[$index]">*</span></label>
						<div class="col-sm-2">
							<input
								type="number"
								class="form-control"
								id="inputAverageGrade"
								name="inputAverageGrade"
								ng-model="bachelorStudies.averageGrade"
								step="0.01"
								ng-disabled="!editMode[$index]"
								min="5"
								max="10"
								ng-maxlength="5"
								required />
							<div
								ng-show="form.inputAverageGrade.$dirty && form.inputAverageGrade.$invalid"
								class="averageGradeFieldError">
								<span
									ng-show="form.inputAverageGrade.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputAverageGrade.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidMaxGradeLength }}</span> <span
									ng-show="form.inputAverageGrade.$error.min"
									class="ng-binding">{{ errorMessages.error.minAverageNumber }}</span> <span
									ng-show="form.inputAverageGrade.$error.max"
									class="ng-binding">{{ errorMessages.error.maxAverageNumber }}</span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label
							for="inputUniversityName"
							class="col-sm-2 control-label">{{ resources.professorBachelorStudies.universityName }} <span
							class="required"
							ng-show="editMode[$index]">*</span></label>
						<div class="col-sm-4">
							<input
								type="text"
								class="form-control"
								id="inputUniversityName"
								name="inputUniversityName"
								ng-model="bachelorStudies.universityName"
								ng-maxlength="50"
								ng-disabled="!editMode[$index]"
								required />
							<div
								ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
								class="universityNameFieldError">
								<span
									ng-show="form.inputUniversityName.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputUniversityName.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidUniversityNameMaxLength }}</span>
							</div>
						</div>
						<label
							for="inputFacultyName"
							class="col-sm-2 control-label">{{ resources.professorBachelorStudies.facultyName }} <span
							class="required"
							ng-show="editMode[$index]">*</span></label>
						<div class="col-sm-4">
							<input
								type="text"
								class="form-control"
								id="inputFacultyName"
								name="inputFacultyName"
								ng-model="bachelorStudies.facultyName"
								ng-maxlength="50"
								ng-disabled="!editMode[$index]"
								required />
							<div
								ng-show="form.inputFacultyName.$dirty && form.inputFacultyName.$invalid"
								class="universityNameFieldError">
								<span
									ng-show="form.inputFacultyName.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputFacultyName.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidFacultyNameMaxLength }}</span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label
							for="inputStudyProgram"
							class="col-sm-2 control-label">{{ resources.professorBachelorStudies.studyProgram }} </label>
						<div class="col-sm-4">
							<select
								class="ng-binding form-control"
								id="inputStudyProgram"
								name="inputStudyProgram"
								ng-model="bachelorStudies.studyProgram"
								ng-options="studyProgram.title for studyProgram in allStudyPrograms track by studyProgram.name"
								ng-show="editMode[$index]"><option value="">{{ resources.professorBachelorStudies.studyProgram }}</option></select> <input
								type="text"
								class="form-control"
								id="inputStudyProgram"
								name="inputStudyProgram"
								ng-model="bachelorStudies.studyProgram.title"
								ng-show="!editMode[$index]"
								ng-disabled="true"
								required />
						</div>
						<label
							for="inputStudyArea"
							class="col-sm-2 control-label">{{ resources.professorBachelorStudies.studyArea }} <span
							class="required"
							ng-show="editMode[$index]">*</span></label>
						<div class="col-sm-4">
							<input
								type="text"
								class="form-control"
								id="inputStudyArea"
								name="inputStudyArea"
								ng-model="bachelorStudies.studyArea"
								ng-maxlength="100"
								ng-disabled="!editMode[$index]"
								required />
							<div
								ng-show="form.inputStudyArea.$dirty && form.inputStudyArea.$invalid"
								class="inputStudyAreaError">
								<span
									ng-show="form.inputStudyArea.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputStudyArea.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidStudyAreaMaxLength }}</span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label
							for="inputThesisTitle"
							class="col-sm-2 control-label">{{ resources.professorBachelorStudies.thesisTitle }} <span
							class="required"
							ng-show="editMode[$index]">*</span></label>
						<div class="col-sm-4">
							<input
								type="text"
								class="form-control"
								id="inputThesisTitle"
								name="inputThesisTitle"
								ng-model="bachelorStudies.thesisTitle"
								ng-disabled="!editMode[$index]"
								ng-maxlength="200"
								required />
							<div
								ng-show="form.inputThesisTitle.$dirty && form.inputThesisTitle.$invalid"
								class="thesisTitleFieldError">
								<span
									ng-show="form.inputThesisTitle.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputThesisTitle.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidThesisTitleMaxLength }}</span>
							</div>
						</div>
						<label
							for="inputAcquiredTitle"
							class="col-sm-2 control-label">{{ resources.professorBachelorStudies.acquiredTitle }} <span
							class="required"
							ng-show="editMode[$index]">*</span></label>
						<div class="col-sm-4">
							<input
								type="text"
								class="form-control"
								id="inputAcquiredTitle"
								name="inputAcquiredTitle"
								ng-model="bachelorStudies.acquiredTitle"
								ng-disabled="!editMode[$index]"
								ng-pattern="patterns.onlyLetters"
								ng-maxlength="30"
								required />
							<div
								ng-show="form.inputAcquiredTitle.$dirty && form.inputAcquiredTitle.$invalid"
								class="acquiredTitleFieldError">
								<span
									ng-show="form.inputAcquiredTitle.$error.required"
									class="ng-binding">{{ errorMessages.error.required }}</span> <span
									ng-show="form.inputAcquiredTitle.$error.maxlength"
									class="ng-binding">{{ errorMessages.error.invalidAcquiredTitleMaxLength }}</span> <span
									ng-show="form.inputAcquiredTitle.$error.pattern"
									class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer action">
				<button
					id="edit_button"
					type="edit"
					class="btn btn-link btn-sm"
					ng-show="!editMode[$index]"
					ng-click="editProfesorBachelorStudies($index)">
					<span class="glyphicon glyphicon-pencil"></span> {{ resources.form.edit }}
				</button>
				<button
					id="submit_button"
					type="submit"
					class="btn btn-link btn-sm"
					ng-show="editMode[$index]"
					ng-click="updateProfesorBachelorStudies()">
					<span class="glyphicon glyphicon-save"></span> {{ resources.form.save }}
				</button>
				<button
					id="cancel_button"
					class="btn btn-link btn-sm"
					ng-click="cancel()">
					<span class="glyphicon glyphicon-trash"></span> {{ resources.form.delete }}
				</button>
			</div>
		</div>
		<div ng-show="allBachelorStudies.length == 0">{{ errorMessages.error.emptyTable }}</div>
		<div class="text-center">
			<button
				id="addNewButton"
				class="btn btn-success btn-large"
				ng-disabled="editMode[$index]"
				ng-click="createNewBachelorStudies()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.form.add }}
			</button>
		</div>
	</form>

</div>