<div>

	<form name="form" id="showAllProjectExperiencesForm" novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="projectExperience">

		<div class="modal-header">
			<h3 class="modal-title">{{
				resources.text.projectExperiencesTitle }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<table ng-show="allProjectExperiences != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0" cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.projectsTableLabels.projectType }}</td>
							<td>{{ resources.projectsTableLabels.projectName }}</td>
							<td>{{ resources.projectsTableLabels.projectFinancedBy }}</td>
							<td>{{ resources.projectsTableLabels.projectLeaders }}</td>
							<td>{{ resources.projectsTableLabels.startDate }}</td>
							<td>{{ resources.projectsTableLabels.endDate }}</td>
							<td colspan="2"></td>
						</tr>
						<tr class="active ng-scope"
							ng-repeat="projectExperienceData in completeProjecExperienceDataArray">
							<td>{{ projectExperienceData.project.projectType.title }}</td>
							<td>{{ projectExperienceData.project.name }}</td>
							<td>{{ projectExperienceData.project.financedBy }}</td>
							<td>{{ projectExperienceData.projectLeaders }}</td>
							<td>{{ projectExperienceData.projectExperience.startDate |
								date:'dd-MM-yyyy' }}</td>
							<td>{{ projectExperienceData.projectExperience.endDate |
								date:'dd-MM-yyyy' }}</td>
							<td class="delete"><button class="btn btn-link btn-xs"
									ng-click="deleteProjectExperience(projectExperienceData.projectExperience.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{
									resources.buttons.projectButtons.delete }}
								</button></td>
							<td class="edit"><button class="btn btn-link btn-xs"
									ng-click="editProjectExperience(projectExperienceData.projectExperience.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{
									resources.buttons.projectButtons.edit }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td colspan="7">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button id="addNewButton" class="btn btn-success btn-sm"
				ng-click="createNewProjectExperience()">
				<span class="glyphicon glyphicon-plus"></span> {{
				resources.buttons.projectButtons.add }}
			</button>
		</div>
	</form>

	<script type="text/ng-template" id="editProjectExperiencePopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			role="form"
			novalidate
			ng-model="projectExperience">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.editProjectExperiencePopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputProjectName"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectName }}
					</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input
								type="text"
								class="form-control"
								id="inputProjectName"
								name="inputProjectName"
								ng-model="project.name"
								ng-disabled="true" />
							<span class="input-group-addon"> <span
								class="glyphicon glyphicon-expand"
								ng-click="expandProjectData()"
								ng-show="!allProjectDataShown"></span> <span
								class="glyphicon glyphicon-collapse-down"
								ng-click="collapseProjectData()"
								ng-show="allProjectDataShown"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="allProjectDataShown">
					<label
						for="inputProjectType"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectType }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputProjectType"
							name="inputProjectType"
							ng-model="project.projectType.title"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group" ng-show="allProjectDataShown">
					<label
						for="inputProjectFinancedBy"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectFinancedBy }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputProjectFinancedBy"
							name="inputProjectFinancedBy"
							ng-model="project.financedBy"
							ng-disabled="true" />
					</div>
				</div>
				<div ng-repeat="leader in projectLeadersArray" ng-show="allProjectDataShown">
					<div class="form-group">
						<label
							for="inputProjectLeader"
							class="col-sm-4 control-label"
							ng-show="$index == 0">{{ resources.projectPopupLabels.projectLeaders }}
						</label>
						<label
							for="inputProjectLeader"
							class="col-sm-4 control-label"
							ng-show="$index > 0">
						</label>
						<div class="col-sm-6">
							<input
								type="text"
								class="ng-binding form-control"
								id="inputProjectLeader"
								name="inputProjectLeader"
								ng-model="leader"
								ng-disabled="true" /> 
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputProjectStartDate"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectStartDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputProjectStartDate"
								name="inputProjectStartDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputStartDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="projectExperience.startDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openStartDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputProjectStartDate.$dirty && form.inputProjectStartDate.$invalid"
							class="projectStartDateFieldError">
							<span
								ng-show="form.inputProjectStartDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputProjectEndDate"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectEndDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputProjectEndDate"
								name="inputProjectEndDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputEndDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="projectExperience.endDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openEndDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputProjectEndDate.$dirty && form.inputProjectEndDate.$invalid"
							class="projectEndDateFieldError">
							<span
								ng-show="form.inputProjectEndDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="row form-group" ng-show="isProfessorLeader">
 	 				<label for="inputIsProfessorLeader" class="col-sm-10" />
  					<span 
						class="glyphicon glyphicon-check pull-right" 
						data-toggle="tooltip"
						data-placement="down"
						title="{{ resources.text.IamProjectLeaderTooltip }}">
    					{{ resources.projectPopupLabels.IamLeaderAlso }} 
					</span>
				</div>
			</div>
			<div class="modal-footer action">
				<button
					id="submit_button"
					type="submit"
					class="btn btn-success btn-sm"
					ng-disabled="form.$invalid || isUnchanged(projectExperience)"
					ng-click="saveProjectExperience()">
					<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.projectButtons.edit }}
				</button>
				<button
					id="cancel_button"
					class="btn btn-sm"
					ng-click="cancel()">{{ resources.buttons.projectButtons.close }}</button>
			</div>
		</form>
	</script>

	<script type="text/ng-template"
		id="createNewProjectExperiencePopup.html">
		<form name="form" class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required" novalidate role="form" ng-model="project">
			<div class="modal-header">
    			<h3 class="modal-title">{{ resources.text.addNewProjectExperiencePopupTitle }}</h3>
   	 		</div>
    		<div class="modal-body">
  				<div class="form-group">
					<label
						for="inputProjectName"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputProjectName"
							name="inputProjectName"
							ng-model="$parent.selectedProject"
							typeahead="project as project.name for project in getProjects($viewValue) | limitTo:8"
							typeahead-on-select="onSelectProject()"
							placeholder="{{ resources.projectPopupLabels.projectName }}"
							autocomplete="off"
							required />
						<div
							ng-show="form.inputProjectName.$dirty && form.inputProjectName.$invalid"
							class="projectNameFieldError">
							<span
								ng-show="form.inputProjectName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="isProjectSelected">
					<label
						for="inputProjectType"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectType }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputProjectType"
							name="inputProjectType"
							ng-model="selectedProject.projectType.title"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group" ng-show="isProjectSelected">
					<label
						for="inputProjectFinancedBy"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectFinancedBy }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputProjectFinancedBy"
							name="inputProjectFinancedBy"
							ng-model="selectedProject.financedBy"
							ng-disabled="true" />
					</div>
				</div>
				<div ng-repeat="leader in projectLeadersArray" ng-show="isProjectSelected">
					<div class="form-group">
						<label
							for="inputProjectLeader"
							class="col-sm-4 control-label"
							ng-show="$index == 0">{{ resources.projectPopupLabels.projectLeaders }}
						</label>
						<label
							for="inputProjectLeader"
							class="col-sm-4 control-label"
							ng-show="$index > 0">
						</label>
						<div class="col-sm-6">
							<input
								type="text"
								class="ng-binding form-control"
								id="inputProjectLeader"
								name="inputProjectLeader"
								ng-model="leader"
								ng-disabled="true" /> 
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputProjectStartDate"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectStartDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputProjectStartDate"
								name="inputProjectStartDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputProjectStartDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="projectExperience.startDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openProjectStartDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputProjectStartDate.$dirty && form.inputProjectStartDate.$invalid"
							class="projectStartDateFieldError">
							<span
								ng-show="form.inputProjectStartDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputProjectEndDate"
						class="col-sm-4 control-label">{{ resources.projectPopupLabels.projectEndDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputProjectEndDate"
								name="inputProjectEndDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputProjectEndDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="projectExperience.endDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openProjectEndDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputProjectEndDate.$dirty && form.inputProjectEndDate.$invalid"
							class="projectEndDateFieldError">
							<span
								ng-show="form.inputProjectEndDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="row form-group" ng-show="isSelectedProject && isProfessorLeader">
 	 				<label for="inputIsProfessorLeader" class="col-sm-10" />
  					<span 
						class="glyphicon glyphicon-check pull-right" 
						data-toggle="tooltip"
						data-placement="down"
						title="{{ resources.text.IamProjectLeaderTooltip }}">
    					{{ resources.projectPopupLabels.IamLeaderAlso }} 
					</span>
				</div>
   			</div>
   			<div class="modal-footer action">
		 		<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="!validateForm()" ng-click="saveProjectExperience()"><span class="glyphicon glyphicon-save"></span> {{ resources.buttons.projectButtons.save }}</button>
		 		<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.buttons.projectButtons.close }}</button>
  			</div>
		</form>
	</script>

</div>