<div>

	<form
		name="form"
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
		role="form"
		novalidate
		ng-model="professor">

		<div class="modal-header">
			<div class="row form-controll">
				<h3 class="modal-title col-sm-4">{{ resources.text.userTitle }}</h3>
				<div class="pull-right col-sm-8">
					<img
						class="img-responsive"
						align="right"
						src="resources/icons/pmfnovisad.png" />
				</div>
			</div>
		</div>
		<div
			class="alert-warning"
			ng-show="fieldErrors.length">
			<div ng-repeat="error in fieldErrors">
				<span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.message}}</strong>
			</div>
		</div>
		<div class="modal-body">
			<div
				ng-show="error"
				class="glyphicon glyphicon-exclamation-sign">{{error}}</div>
			<div>
				<div class="form-group">
					<label
						for="inputUserName"
						class="col-sm-2 control-label">{{ resources.userLabels.userNameLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<input
							type="text"
							class="form-control"
							id="inputUserName"
							name="inputUserName"
							ng-model="professor.userName"
							placeholder="{{ resources.userLabels.userNameLabel }}"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputUserName.$dirty && form.inputUserName.$invalid"
							class="userNameFieldError">
							<span
								ng-show="form.inputUserName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputUserName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputPassword"
						class="col-sm-2 control-label">{{ resources.userLabels.passwordLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<input
							type="password"
							class="form-control"
							id="inputPassword"
							name="inputPassword"
							placeholder="{{ resources.userLabels.passwordLabel }}"
							ng-model="professor.password"
							ng-minlength="8"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputPassword.$dirty && form.inputPassword.$invalid"
							class="passwordFieldError">
							<span
								ng-show="form.inputPassword.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputPassword.$error.minlength"
								class="ng-binding">{{ errorMessages.error.invalidMinPasswordLength }}</span><span
								ng-show="form.inputPassword.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputEmail"
						class="col-sm-2 control-label">{{ resources.userLabels.emailLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<input
							type="email"
							class="form-control"
							id="inputEmail"
							name="inputEmail"
							placeholder="{{ resources.userLabels.emailLabel }}"
							ng-model="professor.email"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputEmail.$dirty && form.inputEmail.$invalid"
							class="emailFieldError">
							<span
								ng-show="form.inputEmail.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputEmail.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputEmail.$error.email"
								class="ng-binding">{{ errorMessages.error.invalidInput }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputFirstName"
						class="col-sm-2 control-label">{{ resources.userLabels.nameLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<input
							type="text"
							class="form-control"
							id="inputFirstName"
							name="inputFirstName"
							placeholder="{{ resources.userLabels.nameLabel }}"
							ng-model="professor.name"
							ng-pattern="patterns.onlyLetters"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputFirstName.$dirty && form.inputFirstName.$invalid"
							class="firsNameFieldError">
							<span
								ng-show="form.inputFirstName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputFirstName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputFirstName.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputLastName"
						class="col-sm-2 control-label">{{ resources.userLabels.surnameLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<input
							type="text"
							class="form-control"
							id="inputLastName"
							name="inputLastName"
							placeholder="{{ resources.userLabels.surnameLabel }}"
							ng-model="professor.surname"
							ng-pattern="patterns.onlyLetters"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputLastName.$dirty && form.inputLastName.$invalid"
							class="lastNameFieldError">
							<span
								ng-show="form.inputLastName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputLastName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputLastName.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="isProfessor">
				<div class="form-group">
					<label
						for="inputFathersName"
						class="col-sm-2 control-label">{{ resources.profesorLabels.fathersNameLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<input
							type="text"
							class="form-control"
							id="inputFathersName"
							name="inputFathersName"
							placeholder="{{ resources.profesorLabels.fathersNameLabel }}"
							ng-model="professor.fathersName"
							ng-pattern="patterns.onlyLetters"
							ng-maxlength="50"
							required />
						<div
							ng-show="form.inputFathersName.$dirty && form.inputFathersName.$invalid"
							class="fathersNameFieldError">
							<span
								ng-show="form.inputFathersName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputFathersName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputFathersName.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputBirthDate"
						class="col-sm-2 control-label">{{ resources.profesorLabels.dateOfBirthLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputBirthDate"
								name="inputBirthDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="opened"
								min-date="minDate"
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="professor.dateOfBirth"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="open($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputBirthDate.$dirty && form.inputBirthDate.$invalid"
							class="birthDateFieldError">
							<span
								ng-show="form.inputBirthDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputBirthCountry"
						class="col-sm-2 control-label">{{ resources.profesorLabels.countryOfBirthLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<select
							class="ng-binding form-control"
							id="inputBirthCountry"
							name="inputBirthCountry"
							ng-model="professor.countryOfBirth"
							ng-change="professor.placeOfBirth = ''"
							ng-options="country.name as country.name for country in countries"><option value="">{{ resources.profesorLabels.countryOfBirthLabel }}</option></select>
						<div
							ng-show="form.inputBirthCountry.$dirty && form.inputBirthCountry.$invalid"
							class="birthCountryFieldError">
							<span
								ng-show="form.inputBirthCountry.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputBirthCountry.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputBirthCountry.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputBirthPlace"
						class="col-sm-2 control-label">{{ resources.profesorLabels.placeOfBirthLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<select
							class="ng-binding form-control"
							id="inputBirthPlace"
							name="inputBirthPlace"
							ng-model="professor.placeOfBirth"
							ng-disabled="!professor.countryOfBirth"
							ng-options="city.name as city.name for city in ((countries | filter:{'name':professor.countryOfBirth})[0].cities)"><option value="">{{ resources.profesorLabels.placeOfBirthLabel }}</option></select>
						<div
							ng-show="form.inputBirthPlace.$dirty && form.inputBirthPlace.$invalid"
							class="birthPlaceFieldError">
							<span
								ng-show="form.inputBirthPlace.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputBirthPlace.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputBirthPlace.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputScientificArea"
						class="col-sm-2 control-label">{{ resources.profesorLabels.scientificAreaLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<select
							class="ng-binding form-control"
							id="inputScientificArea"
							name="inputScientificArea"
							ng-model="professor.scientificArea"
							ng-change="professor.specialScientificArea = ''"
							ng-options="scientificArea.name as scientificArea.name for scientificArea in scientificAreas">
							<option value="">{{ resources.profesorLabels.scientificAreaLabel }}</option>
						</select>
						<div
							ng-show="form.inputScientificArea.$dirty && form.inputScientificArea.$invalid"
							class="scientificAreaFieldError">
							<span
								ng-show="form.inputScientificArea.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputScientificArea.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputScientificArea.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputSpecialScientificArea"
						class="col-sm-2 control-label">{{ resources.profesorLabels.specialScientificAreaLabel }} <span class="required">*</span></label>
					<div class="col-sm-4">
						<select
							class="ng-binding form-control"
							id="inputSpecialScientificArea"
							name="inputSpecialScientificArea"
							ng-model="professor.specialScientificArea"
							ng-disabled="!professor.scientificArea"
							ng-options="specialScientificArea.name as specialScientificArea.name for specialScientificArea in ((scientificAreas | filter:{'name':professor.scientificArea})[0].specialScientificAreas)">
							<option value="">{{resources.profesorLabels.specialScientificAreaLabel }}</option>
						</select>
						<div
							ng-show="form.inputSpecialScientificArea.$dirty && form.inputSpecialScientificArea.$invalid"
							class="specificScientificAreaFieldError">
							<span
								ng-show="form.inputSpecialScientificArea.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputSpecialScientificArea.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
								ng-show="form.inputSpecialScientificArea.$error.pattern"
								class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<label
					for="inputIsProfessor"
					class="col-sm-6 control-label" />
				<div class="checkbox pull-right">
					<label> <input
						type="checkbox"
						ng-model="isProfessor"
						id="inputIsProfessor"
						name="inputIsProfessor"
						ng-click="openProfessorFieldSet()" /> {{ resources.profesorLabels.professorCheckboxLabel }}
					</label>
				</div>
			</div>
		</div>
		<div class="modal-footer action">
			<button
				id="submit_button"
				type="submit"
				class="btn btn-success btn-sm"
				ng-click="saveNewProfessor()"
				ng-disabled="!validateForm()">
				<span class="glyphicon glyphicon-save"></span> {{ resources.form.register }}
			</button>
			<button
				id="cancel_button"
				class="btn btn-sm"
				ng-click="goBack()">
				<span class="glyphicon glyphicon-arrow-left"></span> {{ resources.form.back }}
			</button>
		</div>
	</form>

</div>