<div>

	<form name="form" id="showProfessorSeminarsOrTeachingsAbroadForm" novalidate class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form" ng-model="teachingExperience">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.teachingExperiencesTitle }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>

				<table ng-show="teachingExperiences != []" class="table table-condensed table-striped table-hover" cellspacing="0" cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.teachingExperienceTableLabels.subjectName }}</td>
							<td>{{ resources.teachingExperienceTableLabels.facultyName }}</td>
							<td>{{ resources.teachingExperienceTableLabels.universityName }}</td>
							<td>{{ resources.teachingExperienceTableLabels.facultyCity }}</td>
							<td>{{ resources.teachingExperienceTableLabels.facultyCountry }}</td>
							<td>{{ resources.teachingExperienceTableLabels.teachingStartDate }}</td>
							<td>{{ resources.teachingExperienceTableLabels.teachingEndDate }}</td>
							<td ng-show="isUser" colspan="2"></td>
						</tr>
						<tr class="active ng-scope" ng-repeat="teachingExperience in teachingExperiences">
							<td>{{ teachingExperience.subjectDto.subjectName }}</td>
							<td>{{ teachingExperience.subjectDto.institutionName }}</td>
							<td>{{ teachingExperience.subjectDto.universityName }}</td>
							<td>{{ teachingExperience.subjectDto.institutionCity }}</td>
							<td>{{ teachingExperience.subjectDto.institutionCountry }}</td>
							<td>{{ teachingExperience.teachingStartDate | date:'dd-MM-yyyy' }}</td>
							<td>{{ teachingExperience.teachingEndDate | date:'dd-MM-yyyy' }}</td>
							<td class="delete" ng-show="isUser"><button class="btn btn-link btn-xs" ng-click="deleteTeachingExperience(teachingExperience.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.teachingExperienceButtons.delete }}
								</button></td>
							<td class="edit" ng-show="isUser"><button class="btn btn-link btn-xs" ng-click="editSeminarOrTeachingExperience(teachingExperience.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.teachingExperienceButtons.edit }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td ng-show="isUser" colspan="8">{{ errorMessages.error.emptyTable }}</td>
							<td ng-show="isAdmin" colspan="6">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button id="addNewButton" class="btn btn-success btn-sm" ng-click="createNewTeachingExperience()" ng-show="isUser">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.teachingExperienceButtons.add }}
			</button>
			<button id="cancel_button" class="btn btn-sm" ng-click="goBack()">
				<span class="glyphicon glyphicon-arrow-left"></span> {{ resources.form.back }}
			</button>
		</div>
	</form>
	
	<script type="text/ng-template" id="editSeminarOrTeachingExperiencePopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			role="form"
			novalidate
			ng-model="teachingExperience">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.createNewTeachingExperiencePopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputSubjectName"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.subjectName }}
					</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input
								type="text"
								class="ng-binding form-control"
								id="inputSubjectName"
								name="inputSubjectName"
								ng-model="teachingExperience.subjectDto.subjectName"
								ng-disabled="true" />
							<span class="input-group-addon"> <span
								class="glyphicon glyphicon-expand"
								ng-click="expandSubjectData()"
								ng-show="!allSubjectDataShown"></span> <span
								class="glyphicon glyphicon-collapse-down"
								ng-click="collapseSubjectData()"
								ng-show="allSubjectDataShown"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="allSubjectDataShown">
					<label
						for="inputFacultyName"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.facultyName }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputFacultyName"
							name="inputFacultyName"
							ng-model="teachingExperience.subjectDto.institutionName"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group" ng-show="allSubjectDataShown">
					<label
						for="inputUniversityName"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.universityName }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputUniversityName"
							name="inputUniversityName"
							ng-model="teachingExperience.subjectDto.universityName"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group" ng-show="allSubjectDataShown">
					<label
						for="inputFacultyCity"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.facultyCity }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFacultyCity"
							name="inputFacultyCity"
							ng-model="teachingExperience.subjectDto.institutionCity"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group" ng-show="allSubjectDataShown">
					<label
						for="inputFacultyCountry"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.facultyCountry }}
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFacultyCountry"
							name="inputFacultyCountry"
							ng-model="teachingExperience.subjectDto.institutionCountry"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputTeachingStartDate"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.teachingStartDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputTeachingStartDate"
								name="inputTeachingStartDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputTeachingStartDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="teachingExperience.teachingStartDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openTeachingStartDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputTeachingStartDate.$dirty && form.inputTeachingStartDate.$invalid"
							class="teachingStartDateFieldError">
							<span
								ng-show="form.inputTeachingStartDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputTeachingEndDate"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.teachingEndDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputTeachingEndDate"
								name="inputTeachingEndDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputTeachingEndDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="teachingExperience.teachingEndDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openTeachingEndDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputTeachingEndDate.$dirty && form.inputTeachingEndDate.$invalid"
							class="teachingEndDateFieldError">
							<span
								ng-show="form.inputTeachingEndDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer action">
		 		<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="form.$invalid || isUnchanged(teachingExperience)" ng-click="saveTeachingExperience()"><span class="glyphicon glyphicon-save"></span> {{ resources.buttons.teachingExperienceButtons.edit }}</button>
		 		<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.buttons.teachingExperienceButtons.close }}</button>
  			</div>
		</form>
	</script>

	<script type="text/ng-template" id="createNewSeminarOrTeachingExperiencePopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			role="form"
			novalidate
			ng-model="teachingExperience">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.createNewTeachingExperiencePopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputSubjectName"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.subjectName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputSubjectName"
							name="inputSubjectName"
							ng-model="$parent.selectedSubject"
							typeahead="subject as subject.subjectName for subject in getSeminarsOrForeignSubjects($viewValue) | limitTo:8"
							typeahead-on-select="onSelectSubject()"
							placeholder="{{ resources.teachingExperiencePopupLabels.subjectName }}"
							autocomplete="off"
							required />
						<div
							ng-show="form.inputSubjectName.$dirty && form.inputSubjectName.$invalid"
							class="subjectNameFieldError">
							<span
								ng-show="form.inputSubjectName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputFacultyName"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.facultyName }} <span class="required" ng-show="!isExistingSubject">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputFacultyName"
							name="inputFacultyName"
							ng-model="teachingExperience.subjectDto.institutionName"
							placeholder="{{ resources.teachingExperiencePopupLabels.facultyName }}"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputFacultyName.$dirty && form.inputFacultyName.$invalid"
							class="facultyNameFieldError">
							<span
								ng-show="form.inputFacultyName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputUniversityName"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.universityName }} <span class="required" ng-show="!isExistingSubject">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputUniversityName"
							name="inputUniversityName"
							ng-model="teachingExperience.subjectDto.universityName"
							placeholder="{{ resources.teachingExperiencePopupLabels.universityName }}"
							ng-maxlength="50"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
							class="universityNameFieldError">
							<span
								ng-show="form.inputUniversityName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputUniversityName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidUniversityNameMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputFacultyCity"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.facultyCity }} <span class="required" ng-show="!isExistingSubject">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFacultyCity"
							name="inputFacultyCity"
							ng-model="teachingExperience.subjectDto.institutionCity"
							placeholder="{{ resources.teachingExperiencePopupLabels.facultyCity }}"
							ng-maxlength="50"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputFacultyCity.$dirty && form.inputFacultyCity.$invalid"
							class="facultyCityFieldError">
							<span
								ng-show="form.inputFacultyCity.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputFacultyCity.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCityMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputFacultyCountry"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.facultyCountry }} <span class="required" ng-show="!isExistingSubject">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFacultyCountry"
							name="inputFacultyCountry"
							ng-model="teachingExperience.subjectDto.institutionCountry"
							placeholder="{{ resources.teachingExperiencePopupLabels.facultyCountry }}"
							ng-maxlength="50"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputFacultyCountry.$dirty && form.inputFacultyCountry.$invalid"
							class="facultyCountryFieldError">
							<span
								ng-show="form.inputFacultyCountry.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputFacultyCountry.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCountryMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputTeachingStartDate"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.teachingStartDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputTeachingStartDate"
								name="inputTeachingStartDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputTeachingStartDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="teachingExperience.teachingStartDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openTeachingStartDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputTeachingStartDate.$dirty && form.inputTeachingStartDate.$invalid"
							class="teachingStartDateFieldError">
							<span
								ng-show="form.inputTeachingStartDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputTeachingEndDate"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.teachingEndDate }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<div
							class="input-group date"
							id="datepicker">
							<input
								type="text"
								class="form-control"
								id="inputTeachingEndDate"
								name="inputTeachingEndDate"
								placeholder="DD-MM-GGGG"
								datepicker-popup="dd-MM-yyyy"
								is-open="$parent.inputTeachingEndDateOpened"
								min-date="minDate" 
								max-date="maxDate"
								datepicker-options="dateOptions"
								show-button-bar="false"
								ng-model="teachingExperience.teachingEndDate"
								required /> <span class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"
								ng-click="openTeachingEndDate($event)"></span>
							</span>
						</div>
						<div
							ng-show="form.inputTeachingEndDate.$dirty && form.inputTeachingEndDate.$invalid"
							class="teachingEndDateFieldError">
							<span
								ng-show="form.inputTeachingEndDate.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer action">
		 		<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="!validateForm()" ng-click="saveNewSeminarOrTeachingExperience()"><span class="glyphicon glyphicon-save"></span> {{ resources.buttons.teachingExperienceButtons.save }}</button>
		 		<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.buttons.teachingExperienceButtons.close }}</button>
  			</div>
		</form>
	</script>
	
</div>