<div>

	<form
		name="form"
		id="showAllStudentsForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="student">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.title }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>

				<table
					ng-show="students != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.studentsTableLabels.transcriptNumberLabel }}</td>
							<td>{{ resources.studentsTableLabels.firstNameLabel }}</td>
							<td>{{ resources.studentsTableLabels.lastNameLabel }}</td>
							<td colspan="2"></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="student in students">
							<td>{{ student.transcriptNumber }}</td>
							<td>{{ student.name }}</td>
							<td>{{ student.surname }}</td>
							<td class="delete"><button
									class="btn btn-link btn-xs"
									ng-click="deleteStudent(student.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.delete }}
								</button></td>
							<td class="edit"><button
									class="btn btn-link btn-xs"
									ng-click="editStudent(student.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.edit }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td colspan="5">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-click="createNewStudent()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.add }}
			</button>
		</div>
	</form>

</div>

<script
	type="text/ng-template"
	id="editStudentPopup.html">
	<form name="form" class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required novalidate" role="form" ng-model="student">
		<div class="modal-header">
    		<h3 class="modal-title">{{ resources.text.editPopupTitle }}</h3>
   	 	</div>
    	<div class="modal-body">
    		<div class="form-group">
    			<label for="inputTranscriptNumber" class="col-sm-4 control-label">{{ resources.studentPopupLabels.transcriptNumberLabel }} 
					<span class="required">*</span>
				</label>
    			<div class="col-sm-6">
      				<input type="text" class="form-control" id="inputTranscriptNumber" name="inputTranscriptNumber" ng-model="student.transcriptNumber" ng-maxlength="10" required />
					<div
						ng-show="form.inputTranscriptNumber.$dirty && form.inputTranscriptNumber.$invalid"
						class="transcriptNumberFieldError">
						<span
							ng-show="form.inputTranscriptNumber.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputTranscriptNumber.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidTranscriptNumberMaxLength }}</span>
					</div>
   		 		</div>
  			</div>
  			<div class="form-group">
    			<label for="inputFirstName" class="col-sm-4 control-label">{{ resources.studentPopupLabels.firstNameLabel }} 
					<span class="required">*</span>
				</label>
    			<div class="col-sm-6">
      				<input type="text" class="form-control" id="inputFirstName" name="inputFirstName" ng-model="student.name" ng-pattern="patterns.onlyLetters" ng-maxlength="50" required />
					<div
						ng-show="form.inputFirstName.$dirty && form.inputFirstName.$invalid"
						class="firstNameFieldError">
						<span
							ng-show="form.inputFirstName.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputFirstName.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
							ng-show="form.inputFirstName.$error.pattern"
							class="ng-binding">{{ errorMessages.error.onlyLetters }}</span> 
					</div>
    			</div>
  			</div>
			<div class="form-group">
    			<label for="inputLastName" class="col-sm-4 control-label">{{ resources.studentPopupLabels.lastNameLabel }} 
					<span class="required">*</span>
				</label>
    			<div class="col-sm-6">
      				<input type="text" class="form-control" id="inputLastName" name="inputLastName" ng-model="student.surname" ng-pattern="patterns.onlyLetters" ng-maxlength="50" required />
					<div
						ng-show="form.inputLastName.$dirty && form.inputLastName.$invalid"
						class="lastNameFieldError">
						<span
							ng-show="form.inputLastName.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputLastName.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
							ng-show="form.inputLastName.$error.pattern"
							class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
					</div>
    			</div>
  			</div>
   		</div>
   		<div class="modal-footer action">
		 	<button id="submit_button" type="submit" class="btn btn-success" ng-disabled="form.$invalid || isUnchanged(student)" ng-click="saveStudent()"><span class="glyphicon glyphicon-save"></span> {{ resources.studentPopupButtons.edit }}</button>
		 	<button id="cancel_button" class="btn" ng-click="cancel()">{{ resources.studentPopupButtons.close }}</button>
  		</div>
	</form>
</script>

<script
	type="text/ng-template"
	id="createNewStudentPopup.html">
	<form name="form" class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required novalidate" role="form" ng-model="student">
		<div class="modal-header">
    		<h3 class="modal-title">{{ resources.text.newPopupTitle }}</h3>
   	 	</div>
    	<div class="modal-body">
    		<div class="form-group">
    			<label for="inputTranscriptNumber" class="col-sm-4 control-label">{{ resources.studentPopupLabels.transcriptNumberLabel }} 
					<span class="required">*</span>
				</label>
    			<div class="col-sm-6">
      				<input type="text" class="ng-binding form-control" id="inputTranscriptNumber" name="inputTranscriptNumber" ng-model="student.transcriptNumber" placeholder="{{ resources.studentPopupLabels.transcriptNumberLabel }}" ng-maxlength="10" required />
					<div
						ng-show="form.inputTranscriptNumber.$dirty && form.inputTranscriptNumber.$invalid"
						class="transcriptNumberFieldError">
						<span
							ng-show="form.inputTranscriptNumber.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputTranscriptNumber.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidTranscriptNumberMaxLength }}</span>
					</div>
   		 		</div>
  			</div>
  			<div class="form-group">
    			<label for="inputFirstName" class="col-sm-4 control-label">{{ resources.studentPopupLabels.firstNameLabel }} 
					<span class="required">*</span>
				</label>
    			<div class="col-sm-6">
      				<input type="text" class="ng-binding form-control" id="inputFirstName" name="inputFirstName" ng-model="student.name" placeholder="{{ resources.studentPopupLabels.firstNameLabel }}" ng-pattern="patterns.onlyLetters" ng-maxlength="50" required />
					<div
						ng-show="form.inputFirstName.$dirty && form.inputFirstName.$invalid"
						class="firstNameFieldError">
						<span
							ng-show="form.inputFirstName.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputFirstName.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
							ng-show="form.inputFirstName.$error.pattern"
							class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
					</div>
    			</div>
  			</div>
			<div class="form-group">
    			<label for="inputLastName" class="col-sm-4 control-label">{{ resources.studentPopupLabels.lastNameLabel }} 
					<span class="required">*</span>
				</label>
    			<div class="col-sm-6">
      				<input type="text" class="ng-binding form-control" id="inputLastName" name="inputLastName" ng-model="student.surname" placeholder="{{ resources.studentPopupLabels.lastNameLabel }}" ng-pattern="patterns.onlyLetters" ng-maxlength="50" required />
					<div
						ng-show="form.inputLastName.$dirty && form.inputLastName.$invalid"
						class="lastNameFieldError">
						<span
							ng-show="form.inputLastName.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputLastName.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
							ng-show="form.inputLastName.$error.pattern"
							class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
					</div>
    			</div>
  			</div>
   		</div>
   		<div class="modal-footer action">
		 	<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="form.$invalid" ng-click="saveNewStudent()"><span class="glyphicon glyphicon-save"></span> {{ resources.studentPopupButtons.add }}</button>
		 	<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.studentPopupButtons.close }}</button>
  		</div>
	</form>
</script>
