<div>

	<form
		name="form"
		id="specialisticMentoringForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="thesis">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.specialisticMentoringTitle }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<table
					ng-show="allSpecialisticThesis != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info">
							<td>{{ resources.mentoringTableLabels.thesisTitle }}</td>
							<td>{{ resources.mentoringTableLabels.thesisStudent }}</td>
							<td>{{ resources.mentoringTableLabels.thesisCommissionPresident }}</td>
							<td>{{ resources.mentoringTableLabels.thesisCommissionMember }}</td>
							<td>{{ resources.mentoringTableLabels.thesisPaperScientificArea }}</td>
							<td>{{ resources.mentoringTableLabels.thesisDateOfGraduation }}</td>
							<td>{{ resources.mentoringTableLabels.thesisUniversityName }}</td>
							<td ng-show="isUser" colspan="2"></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="thesis in allSpecialisticThesis">
							<td>{{ thesis.title }}</td>
							<td>{{ thesis.studentName }} {{ thesis.studentSurname }}</td>
							<td>{{ thesis.commissionPresidentName }} {{ thesis.commissionPresidentSurname }}</td>
							<td>{{ thesis.commissionMemberName }} {{ thesis.commissionMemberSurname }}</td>
							<td>{{ thesis.paperScientificArea }}</td>
							<td>{{ thesis.dateOfGraduation | date:'dd-MM-yyyy' }}</td>
							<td>{{ thesis.universityName }}</td>
							<td class="delete"
								ng-show="isUser"><button
									class="btn btn-link btn-xs"
									ng-click="deleteThesis(thesis.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.mentorThesisButtons.delete }}
								</button></td>
							<td class="edit"
								ng-show="isUser"><button
									class="btn btn-link btn-xs"
									ng-click="editThesis(thesis.id)">
									<span class="glyphicon glyphicon-pencil"></span> {{ resources.buttons.mentorThesisButtons.edit }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td ng-show="isUser" colspan="9">{{ errorMessages.error.emptyTable }}</td>
							<td ng-show="isAdmin" colspan="7">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-show="isUser"
				ng-click="createNewSpecialisticThesis()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.mentorThesisButtons.add }}
			</button>
		</div>
	</form>

</div>

<script
	type="text/ng-template"
	id="editSpecialisticThesisPopup.html">
	<form
		name="form"
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
		role="form"
		ng-model="thesis">
		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.editThesisPopupTitle }}</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label
					for="inputThesisTitle"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.title }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputThesisTitle"
						name="inputThesisTitle"
						ng-model="thesis.title"
						ng-maxlength="200"
						required />
					<div
						ng-show="form.inputThesisTitle.$dirty && form.inputThesisTitle.$invalid"
						class="thesisTitleFieldError">
						<span
							ng-show="form.inputThesisTitle.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputThesisTitle.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidThesisTitleMaxLength }}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputStudent"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.student }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputStudent"
						name="inputStudent"
						ng-model="$parent.selectedStudent"
						typeahead="student as student.transcriptNumber + ' ' + student.name + ' ' + student.surname for student in getStudents($viewValue) | limitTo:8"
						typeahead-on-select="onSelectStudent($parent.selectedStudent)"
						typeahead-loading="loadingStudents"
						autocomplete="off"
						required /> <span
						ng-show="loadingStudents"
						class="glyphicon glyphicon-refresh"></span>
					<div
						ng-show="form.inputStudent.$dirty && form.inputStudent.$invalid"
						class="studentFieldError">
						<span
							ng-show="form.inputStudent.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputStudent.$error.studentInvalid"
							class="ng-binding">{{errorMessages.error.emptyTable}}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputCommissionPresident"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.commissionPresident }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputCommissionPresident"
						name="inputCommissionPresident"
						ng-model="$parent.selectedCommissionPresident"
						typeahead="commissionPresident as commissionPresident.name + ' ' + commissionPresident.surname for commissionPresident in getCommissionPresident($viewValue) | limitTo:8"
						typeahead-on-select="onSelectCommisionPresident($parent.selectedCommissionPresident)"
						typeahead-loading="loadingCommisionPresident"
						autocomplete="off"
						required /> <span
						ng-show="loadingCommisionPresident"
						class="glyphicon glyphicon-refresh"></span>
					<div
						ng-show="form.inputCommissionPresident.$dirty && form.inputCommissionPresident.$invalid"
						class="commissionPresidenFieldError">
						<span
							ng-show="form.inputCommissionPresident.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputCommissionPresident.$error.commissionPresidentInvalid"
							class="ng-binding">{{errorMessages.error.emptyTable}}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputCommissionMember"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.commissionMember }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputCommissionMember"
						name="inputCommissionMember"
						ng-model="$parent.selectedCommissionMember"
						typeahead="commissionMember as commissionMember.name + ' ' + commissionMember.surname for commissionMember in getCommissionMember($viewValue) | limitTo:8"
						typeahead-on-select="onSelectCommisionMember($parent.selectedCommissionMember)"
						typeahead-loading="loadingCommissionMember"
						autocomplete="off"
						required /> <span
						ng-show="loadingCommissionMember"
						class="glyphicon glyphicon-refresh"></span>
					<div
						ng-show="form.inputCommissionMember.$dirty && form.inputCommissionMember.$invalid"
						class="commissionMemberFieldError">
						<span
							ng-show="form.inputCommissionMember.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputCommissionMember.$error.commissionMemberInvalid"
							class="ng-binding">{{errorMessages.error.emptyTable}}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputPaperScientificArea"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.thesisScientificArea }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputPaperScientificArea"
						name="inputPaperScientificArea"
						ng-model="thesis.paperScientificArea"
						ng-pattern="patterns.onlyLetters"
						ng-maxlength="50"
						required />
					<div
						ng-show="form.inputPaperScientificArea.$dirty && form.inputPaperScientificArea.$invalid"
						class="paperScientificAreaFieldError">
						<span
							ng-show="form.inputPaperScientificArea.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputPaperScientificArea.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
							ng-show="form.inputPaperScientificArea.$error.pattern"
							class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputDateOfGraduation"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.dateOfGraduation }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<div
						class="input-group date"
						id="datepicker">
						<input
							type="text"
							class="form-control"
							id="inputDateOfGraduation"
							name="inputDateOfGraduation"
							placeholder="DD-MM-GGGG"
							datepicker-popup="dd-MM-yyyy"
							is-open="$parent.opened"
							min-date="minDate" 
							max-date="maxDate"
							datepicker-options="dateOptions"
							show-button-bar="false"
							ng-model="thesis.dateOfGraduation"
							required /> <span class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"
							ng-click="open($event)"></span>
						</span>
					</div>
					<div
						ng-show="form.inputDateOfGraduation.$dirty && form.inputDateOfGraduation.$invalid"
						class="dateOfGraduationFieldError">
						<span
							ng-show="form.inputDateOfGraduation.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputUniversityName"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.universityName }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputUniversityName"
						name="inputUniversityName"
						ng-model="thesis.universityName"
						ng-pattern="patterns.onlyLetters"
						ng-maxlength="100"
						required />
					<div
						ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
						class="universityNameFieldError">
						<span
							ng-show="form.inputUniversityName.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputUniversityName.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
							ng-show="form.inputUniversityName.$error.pattern"
							class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer action">
			<button
				id="submit_button"
				type="submit"
				class="btn btn-success btn-sm"
				ng-disabled="$parent.form.$invalid || isUnchanged(thesis)"
				ng-click="saveThesis()">
				<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.mentorThesisButtons.edit }}
			</button>
			<button
				id="cancel_button"
				class="btn btn-sm"
				ng-click="cancel()">{{ resources.buttons.mentorThesisButtons.close }}</button>
		</div>
	</form>
</script>

<script
	type="text/ng-template"
	id="createNewSpecialisticThesisPopup.html">
	<form
		name="form"
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
		role="form"
		ng-model="thesis">
		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.newThesisPopupTitle }}</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label
					for="inputThesisTitle"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.title }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputThesisTitle"
						name="inputThesisTitle"
						ng-model="thesis.title"
						placeholder="{{ resources.thesisPopupLabels.title }}"
						ng-maxlength="200"
						required />
					<div
						ng-show="form.inputThesisTitle.$dirty && form.inputThesisTitle.$invalid"
						class="thesisTitleFieldError">
						<span
							ng-show="form.inputThesisTitle.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputThesisTitle.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidThesisTitleMaxLength }}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputStudent"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.student }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputStudent"
						name="inputStudent"
						ng-model="$parent.selectedStudent"
						typeahead="student as student.transcriptNumber + ' ' + student.name + ' ' + student.surname for student in getStudents($viewValue) | limitTo:8"
						typeahead-on-select="onSelectStudent()"
						placeholder="{{ resources.thesisPopupLabels.student }}"
						typeahead-loading="loadingStudents"
						autocomplete="off" 
						required /> <span
						ng-show="loadingStudents"
						class="glyphicon glyphicon-refresh"></span>
					<div
						ng-show="form.inputStudent.$dirty && form.inputStudent.$invalid"
						class="studentFieldError">
						<span
							ng-show="form.inputStudent.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputStudent.$error.studentInvalid"
							class="ng-binding">{{errorMessages.error.emptyTable}}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputCommissionPresident"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.commissionPresident }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputCommissionPresident"
						name="inputCommissionPresident"
						ng-model="$parent.selectedCommissionPresident"
						typeahead="commissionPresident as commissionPresident.name + ' ' + commissionPresident.surname for commissionPresident in getCommissionPresident($viewValue) | limitTo:8"
						typeahead-on-select="onSelectCommissionPresident()"
						placeholder="{{ resources.thesisPopupLabels.commissionPresident }}"
						typeahead-loading="loadingCommisionPresident"
						autocomplete="off"
						required /> <span
						ng-show="loadingCommisionPresident"
						class="glyphicon glyphicon-refresh"></span>
					<div
						ng-show="form.inputCommissionPresident.$dirty && form.inputCommissionPresident.$invalid"
						class="commissionPresidenFieldError">
						<span
							ng-show="form.inputCommissionPresident.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputCommissionPresident.$error.commissionPresidentInvalid"
							class="ng-binding">{{errorMessages.error.emptyTable}}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputCommissionMember"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.commissionMember }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputCommissionMember"
						name="inputCommissionMember"
						ng-model="$parent.selectedCommissionMember"
						typeahead="commissionMember as commissionMember.name + ' ' + commissionMember.surname for commissionMember in getCommissionMember($viewValue) | limitTo:8"
						typeahead-on-select="onSelectCommissionMember()"
						placeholder="{{ resources.thesisPopupLabels.commissionMember }}"
						typeahead-loading="loadingCommissionMember"
						autocomplete="off"
						required /> <span
						ng-show="loadingCommissionMember"
						class="glyphicon glyphicon-refresh"></span>
					<div
						ng-show="form.inputCommissionMember.$dirty && form.inputCommissionMember.$invalid"
						class="commissionMemberFieldError">
						<span
							ng-show="form.inputCommissionMember.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputCommissionMember.$error.commissionMemberInvalid"
							class="ng-binding">{{errorMessages.error.emptyTable}}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputPaperScientificArea"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.thesisScientificArea }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputPaperScientificArea"
						name="inputPaperScientificArea"
						ng-model="thesis.paperScientificArea"
						placeholder="{{ resources.thesisPopupLabels.thesisScientificArea }}"
						ng-pattern="patterns.onlyLetters"
						ng-maxlength="50"
						required />
					<div
						ng-show="form.inputPaperScientificArea.$dirty && form.inputPaperScientificArea.$invalid"
						class="paperScientificAreaFieldError">
						<span
							ng-show="form.inputPaperScientificArea.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputPaperScientificArea.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
							ng-show="form.inputPaperScientificArea.$error.pattern"
							class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputDateOfGraduation"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.dateOfGraduation }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<div
						class="input-group date"
						id="datepicker">
						<input
							type="text"
							class="form-control"
							id="inputDateOfGraduation"
							name="inputDateOfGraduation"
							placeholder="DD-MM-GGGG"
							datepicker-popup="dd-MM-yyyy"
							is-open="$parent.opened"
							min-date="minDate" 
							max-date="maxDate"
							datepicker-options="dateOptions"
							show-button-bar="false"
							ng-model="thesis.dateOfGraduation"
							required /> <span class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"
							ng-click="open($event)"></span>
						</span>
					</div>
					<div
						ng-show="form.inputDateOfGraduation.$dirty && form.inputDateOfGraduation.$invalid"
						class="dateOfGraduationFieldError">
						<span
							ng-show="form.inputDateOfGraduation.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label
					for="inputUniversityName"
					class="col-sm-4 control-label">{{ resources.thesisPopupLabels.universityName }} <span class="required">*</span>
				</label>
				<div class="col-sm-6">
					<input
						type="text"
						class="ng-binding form-control"
						id="inputUniversityName"
						name="inputUniversityName"
						ng-model="thesis.universityName"
						placeholder="{{ resources.thesisPopupLabels.universityName }}"
						ng-pattern="patterns.onlyLetters"
						ng-maxlength="100"
						required />
					<div
						ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
						class="universityNameFieldError">
						<span
							ng-show="form.inputUniversityName.$error.required"
							class="ng-binding">{{ errorMessages.error.required }}</span> <span
							ng-show="form.inputUniversityName.$error.maxlength"
							class="ng-binding">{{ errorMessages.error.invalidMaxLength }}</span> <span
							ng-show="form.inputUniversityName.$error.pattern"
							class="ng-binding">{{ errorMessages.error.onlyLetters }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer action">
			<button
				id="submit_button"
				type="submit"
				class="btn btn-success btn-sm"
				ng-disabled="form.$invalid || !(studentSelected && commissionPresidentSelected && commissionMemberSelected)"
				ng-click="saveNewThesis()">
				<span class="glyphicon glyphicon-save"></span> {{ resources.buttons.mentorThesisButtons.add }}
			</button>
			<button
				id="cancel_button"
				class="btn btn-sm"
				ng-click="cancel()">{{ resources.buttons.mentorThesisButtons.close }}</button>
		</div>
	</form>
</script>
