<div>

	<form
		name="form"
		id="showProfessorTeachingExperienceForm"
		novalidate
		class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required mediators-search-form"
		ng-model="teachingExperience">

		<div class="modal-header">
			<h3 class="modal-title">{{ resources.text.teachingExperiencesTitle }}</h3>
		</div>
		<div class="modal-body">
			<fieldset>

				<table
					ng-show="teachingExperiences != []"
					class="table table-condensed table-striped table-hover"
					cellspacing="0"
					cellpadding="0">
					<tbody>
						<tr class="info ng-binding">
							<td>{{ resources.teachingExperienceTableLabels.subjectName }}</td>
							<td>{{ resources.teachingExperienceTableLabels.studyProgram }}</td>
							<td>{{ resources.teachingExperienceTableLabels.facultyName }}</td>
							<td>{{ resources.teachingExperienceTableLabels.universityName }}</td>
							<td>{{ resources.teachingExperienceTableLabels.facultyCity }}</td>
							<td>{{ resources.teachingExperienceTableLabels.studyType }}</td>
							<td>{{ resources.teachingExperienceTableLabels.lessonsNumber }}</td>
							<td colspan="3"></td>
						</tr>
						<tr
							class="active ng-scope"
							ng-repeat="teachingExperience in teachingExperiences">
							<td>{{ teachingExperience.subjectDto.subjectName }}</td>
							<td>{{ teachingExperience.subjectDto.studyProgram }}</td>
							<td>{{ teachingExperience.subjectDto.institutionName }}</td>
							<td>{{ teachingExperience.subjectDto.universityName }}</td>
							<td>{{ teachingExperience.subjectDto.institutionCity }}</td>
							<td>{{ teachingExperience.subjectDto.studiesThesisType.type }}</td>
							<td>{{ teachingExperience.subjectDto.numberOfTeachingLessons }} + {{ teachingExperience.subjectDto.numberOfTheoreticalLessons }} + {{ teachingExperience.subjectDto.numberOfPracticalLessons }}</td>
							<td class="delete"><button
									class="btn btn-link btn-xs"
									ng-click="deleteTeachingExperience(teachingExperience.id, $index)">
									<span class="glyphicon glyphicon-trash"></span> {{ resources.buttons.teachingExperienceButtons.delete }}
								</button></td>
							<td class="showSurveys"><button
									class="btn btn-link btn-xs"
									ng-click="showSurveysForSubject(teachingExperience.professorId, teachingExperience.subjectId)">
									<span class="glyphicon glyphicon-list-alt"></span> {{ resources.buttons.teachingExperienceButtons.survey }}
								</button></td>
						</tr>
						<tr ng-show="noResultsFound">
							<td colspan="10">{{ errorMessages.error.emptyTable }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="modal-footer action">
			<button
				id="addNewButton"
				class="btn btn-success btn-sm"
				ng-click="createNewTeachingExperience()">
				<span class="glyphicon glyphicon-plus"></span> {{ resources.buttons.teachingExperienceButtons.add }}
			</button>
		</div>
	</form>

	<script
		type="text/ng-template"
		id="createNewTeachingExperiencePopup.html">
		<form
			name="form"
			class="form-horizontal css-form ng-dirty ng-invalid ng-invalid-required"
			role="form"
			novalidate
			ng-model="teachingExperience">
			<div class="modal-header">
				<h3 class="modal-title">{{ resources.text.createNewTeachingExperiencePopupTitle }}</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label
						for="inputSubjectName"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.subjectName }} <span class="required">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputSubjectName"
							name="inputSubjectName"
							ng-model="$parent.selectedSubject"
							typeahead="subject as subject.subjectName for subject in getSubjects($viewValue) | limitTo:8"
							typeahead-on-select="onSelectSubject()"
							placeholder="{{ resources.teachingExperiencePopupLabels.subjectName }}"
							autocomplete="off"
							required />
						<div
							ng-show="form.inputSubjectName.$dirty && form.inputSubjectName.$invalid"
							class="subjectNameFieldError">
							<span
								ng-show="form.inputSubjectName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputProgram"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.studyProgram }} <span class="required" ng-show="!isExistingSubject">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputProgram"
							name="inputProgram"
							ng-model="teachingExperience.subjectDto.studyProgram"
							placeholder="{{ resources.teachingExperiencePopupLabels.studyProgram }}"
							ng-maxlength="50"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputProgram.$dirty && form.inputProgram.$invalid"
							class="programFieldError">
							<span
								ng-show="form.inputProgram.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputFacultyName"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.facultyName }} <span class="required" ng-show="!isExistingSubject">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="ng-binding form-control"
							id="inputFacultyName"
							name="inputFacultyName"
							ng-model="teachingExperience.subjectDto.facultyName"
							placeholder="{{ resources.teachingExperiencePopupLabels.facultyName }}"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputFacultyName.$dirty && form.inputFacultyName.$invalid"
							class="facultyNameFieldError">
							<span
								ng-show="form.inputFacultyName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputUniversityName"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.universityName }} <span class="required" ng-show="!isExistingSubject">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputUniversityName"
							name="inputUniversityName"
							ng-model="teachingExperience.subjectDto.universityName"
							placeholder="{{ resources.teachingExperiencePopupLabels.universityName }}"
							ng-maxlength="50"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputUniversityName.$dirty && form.inputUniversityName.$invalid"
							class="universityNameFieldError">
							<span
								ng-show="form.inputUniversityName.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputUniversityName.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidUniversityNameMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputFacultyCity"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.facultyCity }} <span class="required" ng-show="!isExistingSubject">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFacultyCity"
							name="inputFacultyCity"
							ng-model="teachingExperience.subjectDto.facultyCity"
							placeholder="{{ resources.teachingExperiencePopupLabels.facultyCity }}"
							ng-maxlength="50"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputFacultyCity.$dirty && form.inputFacultyCity.$invalid"
							class="facultyCityFieldError">
							<span
								ng-show="form.inputFacultyCity.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputFacultyCity.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCityMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="!isExistingFaculty">
					<label
						for="inputFacultyCountry"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.facultyCountry }} <span class="required" ng-show="!isExistingSubject">*</span>
					</label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputFacultyCountry"
							name="inputFacultyCountry"
							ng-model="teachingExperience.subjectDto.facultyCountry"
							placeholder="{{ resources.teachingExperiencePopupLabels.facultyCountry }}"
							ng-maxlength="50"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputFacultyCountry.$dirty && form.inputFacultyCountry.$invalid"
							class="facultyCountryFieldError">
							<span
								ng-show="form.inputFacultyCountry.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputFacultyCountry.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidInstitutionCountryMaxLength }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						for="inputStudyType"
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.studyType }} <span class="required" ng-show="!isExistingSubject">*</span></label>
					<div class="col-sm-6">
						<input
							type="text"
							class="form-control"
							id="inputStudyType"
							name="inputStudyType"
							ng-model="teachingExperience.subjectDto.studiesThesisType.type"
							placeholder="{{ resources.teachingExperiencePopupLabels.studyType }}"
							ng-maxlength="50"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" 
							ng-show="isExistingSubject" />
						<select
							class="ng-binding form-control"
							id="inputStudyType"
							name="inputStudyType"
							ng-model="teachingExperience.subjectDto.studiesThesisType"
							ng-options="studiesThesisType.type for studiesThesisType in allStudiesThesisTypes track by studiesThesisType.id"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject"
							ng-show="!isExistingSubject"><option value="">{{ resources.teachingExperiencePopupLabels.studyType }}</option></select> 
						<div
							ng-show="form.inputStudyType.$dirty && form.inputStudyType.$invalid"
							class="studyTypeFieldError">
							<span
								ng-show="form.inputStudyType.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						class="col-sm-4 control-label">{{ resources.teachingExperiencePopupLabels.numberOfLessons }} <span class="required" ng-show="!isExistingSubject">*</span></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputNumberOfTeachingLessons"
							name="inputNumberOfTeachingLessons"
							ng-model="teachingExperience.subjectDto.numberOfTeachingLessons"
							placeholder="{{ resources.teachingExperiencePopupLabels.teachingLessons }}"
							min="0"
							ng-maxlength="2"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputNumberOfTeachingLessons.$dirty && form.inputNumberOfTeachingLessons.$invalid"
							class="numberOfTeachingLessonsFieldError">
							<span
								ng-show="form.inputNumberOfTeachingLessons.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfTeachingLessons.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidLessonsNumberLength }}</span> <span
								ng-show="form.inputAverageGrade.$error.min"
								class="ng-binding">{{ errorMessages.error.minLessonsNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputNumberOfTheoreticalLessons"
							name="inputNumberOfTheoreticalLessons"
							ng-model="teachingExperience.subjectDto.numberOfTheoreticalLessons"
							placeholder="{{ resources.teachingExperiencePopupLabels.theoreticalLessons }}"
							min="0"
							ng-maxlength="2"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputNumberOfTheoreticalLessons.$dirty && form.inputNumberOfTheoreticalLessons.$invalid"
							class="numberOfTheoreticalLessonsFieldError">
							<span
								ng-show="form.inputNumberOfTheoreticalLessons.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfTheoreticalLessons.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidLessonsNumberLength }}</span> <span
								ng-show="form.inputNumberOfTheoreticalLessons.$error.min"
								class="ng-binding">{{ errorMessages.error.minLessonsNumberNumber }}</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label
						class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<input
							type="number"
							class="form-control"
							id="inputNumberOfPracticalLessons"
							name="inputNumberOfPracticalLessons"
							ng-model="teachingExperience.subjectDto.numberOfPracticalLessons"
							placeholder="{{ resources.teachingExperiencePopupLabels.practicalLessons }}"
							min="0"
							ng-maxlength="2"
							ng-disabled="isExistingSubject"
							ng-required="!isExistingSubject" />
						<div
							ng-show="form.inputNumberOfPracticalLessons.$dirty && form.inputNumberOfPracticalLessons.$invalid"
							class="numberOfPracticalLessonsFieldError">
							<span
								ng-show="form.inputNumberOfPracticalLessons.$error.required"
								class="ng-binding">{{ errorMessages.error.required }}</span> <span
								ng-show="form.inputNumberOfPracticalLessons.$error.maxlength"
								class="ng-binding">{{ errorMessages.error.invalidLessonsNumberLength }}</span> <span
								ng-show="form.inputNumberOfPracticalLessons.$error.min"
								class="ng-binding">{{ errorMessages.error.minLessonsNumberNumber }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer action">
		 		<button id="submit_button" type="submit" class="btn btn-success btn-sm" ng-disabled="!validateForm()" ng-click="saveNewTeachingExperience()"><span class="glyphicon glyphicon-save"></span> {{ resources.buttons.teachingExperienceButtons.save }}</button>
		 		<button id="cancel_button" class="btn btn-sm" ng-click="cancel()">{{ resources.buttons.teachingExperienceButtons.close }}</button>
  			</div>
		</form>
	</script>

</div>